


/* 아카이브header css */

#archive_title {
    width: 1130px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    line-height: 43px;
    color: #BE7743;
}


/* 아카이브 body css */

.posterbox_1 {
    width: 1130px;
    height: 380px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.posterbox_2 {
    width: 1130px;
    height: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.poster_img {
    width: 244px;
    height: 345px;
    margin: 0 50px;
    background-color: #c4c4c4;

}

.poster_title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.poster_title_text {
    margin: 0 50px;
    width: 244px;
}

.poster_img.portrait { 
    /* 사진이 규격에 안맞으면 잘려서 출력 */
    width: 100%; 
    height: auto; 
}

.page_button {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.loadposters {
    margin: 0 10px;
    padding: 13px 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 20%;
    background: #DFD3C3;
    border-color: #DFD3C3;
}