<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/board.css">
    <link rel="stylesheet" type="text/css" href="/headfoot.css">
</head>

<body>
    <!-- 헤더 -->
    <header>
        <div class="mainlogo">
            <a href="../"><img src="../kuphilLogo.png" alt="KUPHIL 흰색로고"></a>
        </div>
        <div class="head1">
            <div>
                <a href="../login">로그인</a>
                <!-- <a href="./myPage">마이페이지</a> | <a href="./logout">로그아웃</a> -->
            </div>
        </div>
        <div class="head2">
            <div class="dropdown">
                <ul class="nav">
                    <li><a href="../introduce">소개</a></li>
                    <li><a href="../archive">아카이브</a></li>
                    <li><a href="../calendar">달력</a></li>
                    <li><a href="../board">게시판</a></li>
                    <li><a href="../lab">실험실</a></li>
                </ul>
                <div class="sub_nav">
                    <ul>
                        <li><a href="../introduce">소개</a></li>
                        <li><a href="../history">연혁</a></li>
                    </ul>
                    <ul>
                        <li><a href="../archive">아카이브</a></li>
                    </ul>
                    <ul>
                        <li><a href="../calendar">달력</a></li>
                    </ul>
                    <ul>
                        <li><a href="../board">게시판</a></li>
                        <li><a href="../album">사진첩</a></li>
                    </ul>
                    <ul>
                        <li><a href="../game">악기심리테스트</a></li>
                        <li><a href="../game">불협화음피하기</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr>
        <article class="head3_board">
            <hr class="front_hr"><p><a class="head3_board_a" href="../board">게시판</a> &ensp;|&ensp; <a class="head3_album_a" href="../album">사진첩</a></p><hr class="back_hr_board">
        </article>
    </header>

    <!-- 메인으로 이전 다음 -->
    <div onclick="history.back();" class="board_read_back">
        목록으로
    </div>
    
    <section class="board_read_part">
        <!-- 게시판 테이블 -->
        <table class="board_read_table">
            <thead>
                <tr>
                    <td class="read_td_title" style="width: 700px;"><%=title%> </td>
                    <td style="width: 100px;"></td>
                    <td class="read_td_etc" style="width: 50px;text-align: center;"> ⋯ </td>
                </tr>
            </thead>
            <tbody class="board_read_body">
                <tr class="board_read_main">
                    <td colspan="3" style="padding: 5px 30px;"><%=writer%></td>
                </tr>
                <tr>
                    <td colspan="3"><hr class="board_read_hr"></td>
                </tr>
                <tr class="board_read_cont" style="height:500px;">
                    <td colspan="3"><%=content%></td>
                </tr>
                <tr class="board_read_footer">
                    <td>🤍</td>
                    <td colspan="2" style="font-size: 15px; text-align: right;">작성 날짜<br/><%=date.substring(0,16)%></td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- 푸터 -->
    <footer>
        <div id="footer_left">
            <p>Contact us! :)</p>
            <div>
                <a hr ef="https://www.youtube.com/channel/UCyG3uwmWmLt8tYNOJ3I1QYA" target="_blank">
                    <img src="../kuphil_youtube.png" alt="쿠필 유튜브">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/kuphilharmonic/?hl=ko" target="_blank">
                    <img src="../kuphil_instagram.png" alt="쿠필 인스타그램">
                </a>
            </div>
            <div>
                <a href="https://www.facebook.com/KUPhilharmonic/" target="_blank">
                    <img src="../kuphil_facebook.png" alt="쿠필 페이스북">
                </a>
            </div>
        </div>
        <div id="footer_right">
            <div id="terms">
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">제휴 제안</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
            </div>
            <div id="address_n_right">
                <p>서울특별시 광진구 능동로 120 제2학생회관 지하 117호</p>
                <p>copyright 2021 KUPHIL, All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="/board.js"></script>

</html>