<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/headfoot.css">
    <link rel="stylesheet" type="text/css" href="./css/calendar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>KUPHIL</title>
</head>

<body>
    <!-- 헤더 -->
    <header>
        <div class="main_head">
            <div class="mainlogo">
                <a href="./"><img src="./image/main/kuphilLogo.png" alt="KUPHIL 흰색로고"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="./introduce">소개</a></li>
                    <li><a href="./archive">아카이브</a></li>
                    <li><a href="./calendar">달력</a></li>
                    <li><a href="./gamecenter">놀이터</a></li>
                    <li><a href="./lab">실험실</a></li>
                </ul>
            </nav>
            <div class="small_menu">
                <p onclick="smallOpen();">≡</p>

            </div>
            <div class="small_menu_open">
                <p onclick="smallClose();">X</p>
                <nav>
                    <ul>
                        <li><a href="./introduce">소개</a></li>
                        <li><a href="./archive">아카이브</a></li>
                        <li><a href="./calendar">달력</a></li>
                        <li><a href="./gamecenter">놀이터</a></li>
                        <li><a href="./lab">실험실</a></li>
                    </ul>
                </nav>
            </div>
            <script>
                let small_menu_open = document.getElementsByClassName("small_menu_open")[0];
                function smallOpen() {
                    small_menu_open.style.display = 'block';
                }
                function smallClose() {
                    small_menu_open.style.display = 'none';
                }
            </script>
        </div>
        <article>
            <div class="head3_line_f"></div>
            <div class="head3_name"><a class="head3_calendar_a" href="./calendar">달력</a></div>
            <div class="head3_line_s"></div>
        </article>

    </header>
    <div class="calendar_page">


        <!-- 달력이 그려지는 공간 -->
        <!-- 년월을 표시 js에서 yyyy, mm부분을 새로 채움-->
        <div class="calendar">
            <div class="calendar_title">
                <div class="calendar_now"></div>
                <div class="calendar_move">
                    <span class="table_move" onclick="prevCalendar()"></span>
                    <span class="table_move" onclick="nextCalendar()"></span>
                </div>
                <!-- <input class="table_move" name="calendar_prev" type="button" value="◀" onclick="prevCalendar()">
            <input class="table_move" name="calendar_next" type="button" value="▶" onclick="nextCalendar()"> -->
            </div>
            <div class="calendar_table">
                <table>
                    <thead>
                        <tr>
                            <td style="color: red;">일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                    </thead>
                    <tbody class="body_calendar"></tbody>
                </table>
            </div>
        </div>
        <section class="schedule">
            <!-- js에서 테이블 내에서 tr, td 를 추가해 줌-->
            <script>
                let data = "<%=db%>";
            </script>
            <!-- 스케줄 적히는 공간 -->
            <div class="schedule_box">
                <!-- <button id="sche_plus" onclick="showForm();">±</button> -->
                <div class="sche_date"></div>
                <div class="sche_date_output"></div>
                <div class="sche_date"></div>
                <div class="sche_date_output"></div>
            </div>
        </section>
        <!-- 일정을 추가할 수 있는 영역 -->
        <!-- <div id="add">
            <div id="add_data"></div>
            <div id="delete_data"></div>
        </div> -->
    </div>
    <!-- 푸터 -->
    <footer>
        <div class="footer_first">
            <li><a href="#">오시는 길</a></li>
            <li><a href="#">이용 약관</a></li>
            <li><a href="#">제휴 제안</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
        </div>
        <div class="footer_second">
            <div class="footer_logo">
                <img src="./image/main/graylogo.png">
                <img src="./image/main/무제.png">
            </div>
            <div class="footer_explain">

                <p>서울특별시 광진구 능동로 120 제2학생회관 지하 117호</p>
                <p>후원 | ##은행 #####</p><br>
                <p>copyright 2021 KUPHIL, All rights reserved.</p>
            </div>
            <div class="footer_sns">
                <p>Contact Us :)</p>
                <a href="https://www.youtube.com/channel/UCyG3uwmWmLt8tYNOJ3I1QYA" target="_blank">
                    <img src="./image/main/kuphil_youtube.png" alt="쿠필 유튜브">
                </a>
                <a href="https://www.instagram.com/kuphilharmonic/?hl=ko" target="_blank">
                    <img src="./image/main/kuphil_instagram.png" alt="쿠필 인스타그램">
                </a>
                <a href="https://www.facebook.com/KUPhilharmonic/" target="_blank">
                    <img src="./image/main/kuphil_facebook.png" alt="쿠필 페이스북">
                </a>
            </div>
        </div>
        <div class="small_footer_explain">

            <p>서울특별시 광진구 능동로 120 제2학생회관 지하 117호</p>
            <p>후원 | ##은행 #####</p><br>
            <p>copyright 2021 KUPHIL, All rights reserved.</p>
        </div>
    </footer>
</body>
<script type="text/javascript" src="./js/calendar.js"></script>

</html>