/* 헤더와 푸터를 위한 css
헤더와 푸터 스타일 변경하고 싶을 때 여기서 하면 됩니다. */


* {margin: 0;padding: 0;}
ul, li {list-style: none;}
a, p, span {text-decoration: none;}
img {border: 0;}

header {
    width: 1130px;
    margin: 0 auto;
    height: 173px;
}

header::after {
    clear: both;
    display: block;
    content: '';
}

img {
    width: 50px;
}

#nav {
    width: 630px;
    height: 126px;
}

#nav ul {
    width: 630px;
    height: 126px;
    overflow: hidden;
}

#nav li {
    width: 126px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin-top: 76px;
}

#nav a {
    color: #FFFFFF;
    font-size: 20px;
    width: 126px;
    height: 100px;
    float: left;
}

#nav li::after{
    clear: both;
    display: block;
    content: '';
}

#nav::after{
    clear: both;
    display: block;
    content: '';
}

header img {
    width: 131px;
    height: 118px;
}

#head1 {
    width: 1130px;
    height: 126px;
    background-color: #B47134;
    opacity: 0.88;
    overflow: hidden;
}

#head1 div {
    float: left;
}

#mainlogo {
    width: 500px;
    height: 126px;
}

#head2 {
    width: 1130px;
    height: 44px;
    overflow: hidden;
}

#head2 a {
    font-size: 15px;
    float: right;
    line-height: 44px;
    color: #BE7743;
}

#head2 a::after {
    clear: both;
    display: block;
    content: '';
}

hr {
    width: 1130px;
    height: 3px;
    background-color: #BE7743;
    border: 0;
}

footer {
    width: 1130px;
    height: 193px;
    margin: 0 auto;
    background-color: #EFEFEF;
    overflow: hidden;
}

#footer_right > p {
    font-size: 18px;
}

#terms a {
    color: #000000;
    font-size: 18px;
}