
/* 소개 */
* {margin: 0;padding: 0;}
section {
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
}

#introduce {
    font-size: 24px;
    color: #BE7743;
    font-family: 'Suwannaphum';
    position: relative;
    left: 467px;
}

#bar {
    font-size: 24px;
    color: #BE7743;
    font-family: 'Suwannaphum';
    position: relative;
    left: 510px;
    top: -4px;
}
#history {
    font-size: 24px;
    color: #909090;
    font-family: 'Suwannaphum';
    position: relative;
    left: 553px;
}

hr {
    width: 1130px;
    height: 3px;
    background-color: #BE7743;
    border: 0;
}

#introduce_greeting {
    width: 1130px;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: 8px 0;
}

#introduce_greeting > p {
    position: relative;
    left: 50px;
    top: 30px;
    font-family:'Alegreya';
    font-size: 36px;
}

#introduce_greeting > img {
    position: relative;
    left: 165px;
    top: 50px;
    width: 800px;
    height: 600px;
}

#path > p {
    position: relative;
    left: 50px;
    font-family:'Alegreya';
    font-size: 36px;
}

#path > img {
    position: relative;
    left: 50px;
    top: 10px;
    width: 684px;
    height: 511px;
}

#path > span {
    position: relative;
    left: 750px;
    top: -350px;
    font-family:'Alegreya';
    font-size: 18px;
}