<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>KUPHIL</title>
    <link rel="stylesheet" type="text/css" href="/headfoot.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" type="text/css" href="/signup3.css">

    <!--Google Web Font를 이용하기 위한 link들 삽입-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Basic&Alegreya&family=Reenie+Beanie&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div id="head1">
            <div id="mainlogo">
                <a href="./"><img src="kuphil_logo.png" alt="KUPHIL 흰색로고"></a>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="./introduce">소개</a></li>
                    <li><a href="./archive">아카이브</a></li>
                    <li><a href="./calendar">달력</a></li>
                    <li><a href="./photo">사진첩</a></li>
                    <li><a href="./myPage">마이페이지</a></li>
                </ul>
            </div>
        </div>
        <div id="head2">
            <a href="./login">로그인</a>
        </div>
        <hr>
    </header>
    <section>
        <div id="dataSection">
        </div>

        <script>
            let data = "<%=db%>"
            let count= "<%=count%>"

            /*for (let i=0; i<count; i++) {
                data[i] = data.split('//');
                console.log(data[0]);
            
            //id_data[i] = one_data[i].split('/')[0];
            //pwd_data[i] = one_data[i].split('/')[1];
        }*/
        
        console.log(data);
        let html = document.getElementById("dataSection");

        function showdataSection() {
            let dataall = '';
            
            /*
            for (let i=0; i<data.length; i++) {
                //dataall = '<p>'+id_data[i]+pwd_data[i]+'</p>';
                dataall = '<p>'+data[i]+'</p>';
            }
            */
           dataall = '<p>'+data+'</p>';
            html.innerHTML=dataall;

        }

        showdataSection();
        </script>
    </section>
    <footer>
        <div id="footer_left">
            <p>Contact us! :)</p>
            <div>
                <a href="https://www.youtube.com/channel/UCyG3uwmWmLt8tYNOJ3I1QYA" target="_blank">
                    <img src="kuphil_youtube.png" alt="쿠필 유튜브">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/kuphilharmonic/?hl=ko" target="_blank">
                    <img src="kuphil_instagram.png" alt="쿠필 인스타그램">
                </a>
            </div>
            <div>
                <a href="https://www.facebook.com/KUPhilharmonic/" target="_blank">
                    <img src="kuphil_facebook.png" alt="쿠필 페이스북">
                </a>
            </div>
        </div>
        <div id="footer_right">
            <div id="terms">
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">제휴 제안</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
            </div>
            <div id="address_n_right">
                <p>서울특별시 광진구 능동로 120 제2학생회관 지하 117호</p>
                <p>copyright 2021 KUPHIL, All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
<!--<script type="text/javascript", src="/signup3.js"></script>-->

</html>