section {
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
}

#main_welcome {
    width: 1130px;
    height: 575px;
    overflow: hidden;
    position: relative;
    margin: 8px 0;
}

#main_welcome > img {
    width: 1130px;
    height: 575px;
    object-fit: cover;
}

#main_welcome > p {
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 96px;
    font-family: 'Reenie Beanie', cursive;
}

#whatsnew {
    background-color: #FFF4EA;
    height: 126px;
}

#whatsnew > p:first-child {
    color:#864415;
    font-size: 36px;
    font-family: 'Alegreya', serif;
}

#whatsnew > p:last-child {
    color: #000000;
    font-size: 36px;
    text-align: center;
    line-height: 43px;
}

.spelling_introduce span {
    color: #FF8A00;
    font-size: 60px;
}

.spell  p:first-child {
    font-size: 40px;
}

.spell  p:last-child {
    font-size: 20px;
}

.spell {
    width: 1130px;
    overflow: hidden;

}

#k > .spell_intro {
    width: 500px;
    height: 300px;
    float: left;
    margin: 30px;
}

#p > .spell_intro {
    width: 500px;
    height: 300px;
    float: left;
    margin: 30px;
}

#i > .spell_intro {
    width: 500px;
    height: 300px;
    float: left;
    margin: 30px;
}

#u > .spell_intro {
    width: 500px;
    height: 300px;
    float: right;
    margin: 30px;
}

#h > .spell_intro {
    width: 500px;
    height: 300px;
    float: right;
    margin: 30px;
}

#l > .spell_intro {
    width: 500px;
    height: 300px;
    float: right;
    margin: 30px;
}

.spell::after {
    clear: both;
    display: block;
    content: '';
}

#footer_left {
    width: 500px;
    height: 100px;
    overflow: hidden;
}

#footer_left > div {
    width: 150px;
    height: 50px;
    float: left;
}

#footer_left > p {
    font-size: 24px;
}

#footer_left::after {
    clear: both;
    display: block;
    content: '';
}

#footer_right {
    width: 600px;
    height: 140px;
    margin-left: 10px;
}

#footer_right > #terms {
    width: 550px;
    height: 100px;
    overflow: hidden;
}

#footer_right li {
    width: 170px;
    height: 60px;
    font-size: 18px;
    float: left;
}

footer > div {
    width: 550px;
    height: 100px;
    float: left;
}