.nav_notice{
    background: linear-gradient(91.48deg, #EFF2FF 0%, rgba(252, 225, 225, 0.31) 100%);
}

.game_area {
    width: 90%;
    padding: 0 5%;
    margin: 100px auto;
}

.game_area>div:first-child{
    width: 530px;
    height: 30px;
    margin: 0 auto;
    display: flex;
}

.game_best, .game_my {
    width: 265px;
    font-size: 1.5rem;
}

.game_best {
    text-align: start;
}

.game_my {
    text-align: end;
}
.game_best span, .game_my span{
    font-size: 1.8rem;
}
.game_content table {
    margin: 0 auto;
}

.game_content td {
    width: 130px;
    height: 130px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
}

.game_play_tr td {
    line-height: 0px;
}

.game_content td img {
    width: 110px;
    height: 110px;
}

#game_start:hover, #game_end:hover, #game_how:hover, #game_top:hover {
    background-color: #ffd1ae;
    cursor: pointer;
}

.subCan {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 2rem;
}
.game_name, .game_score{
    font-size: 1rem;
}

.game_button_up, .game_button_left, .game_button_right, .game_button_down, .game_button_center{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    font-size: 2rem;
}
.game_button_up:hover, .game_button_left:hover, .game_button_right:hover, .game_button_down:hover{
    background-color: #ffd1ae;
}
.game_button{
    margin: 100px 0;
    display: none;
}
.game_button table{
    margin: 0 auto;
}
.game_button td{
    width: 70px;
    height: 70px;
}

@media (max-width : 1023px){
    .game_area>div:first-child{
        width: 490px;
    }
    
    .game_best, .game_my {
        width: 245px;
    }
    
    .game_content td {
        width: 120px;
        height: 120px;
    }
    
    .game_content td img {
        width: 90px;
        height: 90px;
    }
    .game_button{
        display: block;
    }
}
@media (max-width : 767px){
    .game_area {
        width: 90%;
        margin: 50px auto;
    }
    .game_area>div:first-child{
        width: 370px;
        height: 25px;
    }
    
    .game_best, .game_my {
        width: 185px;
        font-size: 1.2rem;
    }
    .game_best span, .game_my span{
        font-size: 1.5rem;
    }
    
    .game_content td {
        width: 90px;
        height: 90px;
        font-size: 1.4rem;
    }
    
    .game_content td img {
        width: 65px;
        height: 65px;
    }
    .game_name, .game_score{
        width: 90px;
    }
    .game_button{
        margin: 50px 0;
    }
    .game_button td{
        width: 60px;
        height: 60px;
    }
    .subCan{
        font-size: 1.4rem;
    }
}
@media (max-width : 479px){
    .game_area>div:first-child{
        width: 290px;
        height: 20px;
    }
    
    .game_best, .game_my {
        width: 145px;
        font-size: 1rem;
    }
    .game_best span, .game_my span{
        font-size: 1.5rem;
    }
    .game_content td {
        width: 70px;
        height: 70px;
        font-size: 1.2rem;
    }
    
    .game_content td img {
        width: 50px;
        height: 50px;
    }
    .game_name, .game_score{
        width: 80px;
    }
    .game_button{
        margin: 30px 0;
    }
    .game_button td{
        width: 50px;
        height: 50px;
    }
    .subCan{
        font-size: 1.2rem;
    }
}