


/* 아카이브header css */




/* 아카이브 body css */

.archiveBox{
    height: auto;
    min-height: 90%;
    padding-bottom: 100px;
}


#arc_notice{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 90vw;
    padding: 0 5vw;
    font-size: 2.5rem;
    color: #5C3A1A;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.posterbox_1 {
    width: 90vw;
    height: 26vw;
    margin: 0 0 5vw 0;
    display: flex;
    justify-content: center;
}
.posterbox_2 {
    width: 90vw;
    height: 26vw;
    margin: 2vw 0 10vw 0;
    display: flex;
    justify-content: center;
}

.poster_img {
    /* 포스터 사이즈가 규격에 맞지 않으면 잘려서 출력됨 */
    width: 18.375vw;
    height: 25.875vw;
    margin: 0 3.5vw;
    background-color: #c4c4c4;

    transition: all 0.2s linear;
    float: left;

}


.thumbnail_1 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail_1:hover {
    transform: scale(1.03);

}


.thumbnail_2 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumbnail_2:hover {
    transform: scale(1.03);
}

.poster_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 1vw;
    clear: left;
}


.loadposters {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.prev_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-top: 3px solid #222;
    border-right: 3px solid #222;
    transform: rotate(-135deg);
}

/* .prev_btn[onclick="prevPage();"]:hover {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: rotate(-135deg);
} */



.next_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-top: 3px solid #222;
    border-right: 3px solid #222;
    transform: rotate(45deg);
}

/* .next_btn[onclick="nextPage();"]:hover {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: rotate(45deg);
} */



#close{
    all: unset;
    background-color: #DFC7B4;
    color: white;
    padding: 1vw 2vw;
    border-radius: 5%;
    border:5px;
    cursor:pointer;
    font-size: 1.6rem;
}

.modal{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content{
    background-color: white;
    width: 65%;
    text-align: center;
    position: relative;
    top: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 3vw;

}

.modal_content img{
    float: right;
    width: 18.4vw;
    height: 25.9vw;
    margin: 15px 30px;
    /* width: 292.8px;
    height: 414px; */
    

}

.modal_content .modal_text {
    text-align: left;
    margin: 0 auto;

}

.modal_content .modal_text h1{
    font-size: 2.5rem;
    text-align: left;


}

.modal_content .modal_text .modal_text_1{

    text-align: left;
    padding: 3vw 0;
}

.modal_content .modal_text .modal_text_1 h3{
    height: 5.9vw;
    font-size: 1.8rem;
    padding: 1vw 0;
}

.modal_content .modal_text .modal_text_2 h3{
    font-size: 1.8rem;
    padding: 1vw 0;
}


.hidden{
    display: none;
}

@media (max-width: 1023px) {
    #arc_notice{
        margin-top: 50px;
    }
    .poster_title {
        font-size: 1.5rem;
    }
    .modal_content .modal_text h1{
        font-size: 2rem;
    }
    .modal_content .modal_text .modal_text_1 h3{
        height: 6vw;
        font-size: 1.5rem;
    }
    .modal_content .modal_text .modal_text_2 h3{
        font-size: 1.5rem;
    }
}


@media (max-width: 767px) {
    #arc_notice{
        margin-top: 30px;
    }
    .poster_title {
        font-size: 1rem;
    }
    .modal_content .modal_text h1{
        font-size: 1.2rem;
    }
    .modal_content .modal_text .modal_text_1 h3{
        height: 6.5vw;
        font-size: 0.9rem;
    }
    .modal_content .modal_text .modal_text_2 h3{
        font-size: 0.9rem;
    }
}

@media (max-width: 479px) {
    #arc_notice{
        margin-top: 10px;
    }
    .modal_content .modal_text h1{
        font-size: 1rem;
    }
    .modal_content .modal_text .modal_text_1 h3{
        height: 7vw;
        font-size: 0.7rem;
    }
    .modal_content .modal_text .modal_text_2 h3{
        font-size: 0.7rem;
    }

}