


/* 아카이브header css */




/* 아카이브 body css */

* {
    font-family: Arial, Helvetica, sans-serif;
}




.archiveBox{
    height: auto;
    min-height: 90%;
    padding-bottom: 100px;
}


#arc_notice{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 90%;
    padding: 0 5%;
    font-size: 2.5rem;
    color: #5C3A1A;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.posterbox_1 {
    width: 100%;
    height: 26vw;
    margin: 0 0 5vw 0;
    display: flex;
    justify-content: center;
}
.posterbox_2 {
    width: 100%;
    height: 26vw;
    margin: 2vw 0 10vw 0;
    display: flex;
    justify-content: center;
}

.poster_img {
    /* 포스터 사이즈가 규격에 맞지 않으면 잘려서 출력됨 */
    width: 18.375vw;
    height: 25.875vw;
    margin: 0 3.5vw;
    background-color: #c4c4c4;

    transition: all 0.2s linear;
    float: left;

}


.thumbnail_1 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail_1:hover {
    transform: scale(1.03);

}


.thumbnail_2 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumbnail_2:hover {
    transform: scale(1.03);
}

.poster_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    color: #222;
    margin: 1vw;
    clear: left;
}


.loadposters {
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

.prev_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-top: 3px solid #BE7743;
    border-right: 3px solid #BE7743;
    transform: rotate(-135deg);
}



.next_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-top: 3px solid #BE7743;
    border-right: 3px solid #BE7743;
    transform: rotate(45deg);
}

/* .next_btn[onclick="nextPage();"]:hover {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: rotate(45deg);
} */



/* #close{
    all: unset;
    background-color: #DFC7B4;
    color: white;
    padding: 1vw 2vw;
    border-radius: 5%;
    border:5px;
    cursor:pointer;
    font-size: 1.6rem;
} */

/* .modal{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content{
    background-color: white;
    width: 65%;
    text-align: center;
    position: relative;
    top: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 3vw;

}

.modal_content img{
    float: right;
    width: 18.4vw;
    height: 25.9vw;
    margin: 15px 30px;
    
} */

/* .modal_content .modal_text {
    text-align: left;
    margin: 0 auto;

}

.modal_content .modal_text h1{
    font-size: 2.5rem;
    text-align: left;


}

.modal_content .modal_text .modal_text_1{

    text-align: left;
    padding: 3vw 0;
}

.modal_content .modal_text .modal_text_1 h3{
    height: 5.9vw;
    font-size: 1.8rem;
    padding: 1vw 0;
}

.modal_content .modal_text .modal_text_2 h3{
    font-size: 1.8rem;
    padding: 1vw 0;
} */


.hidden{
    display: none;
}


/* 아카이브 상세 페이지 CSS */

.archiveBox .container_2{
    display: flex;
    flex-direction: row;
}

.arc_concert_poster{
    /* 포스터 사이즈가 규격에 맞지 않으면 잘려서 출력됨 */
    width: 29.4vw;
    height: 41.4vw;
    margin: 0 5vw;
}


.archiveBox .container_2 .concert_info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0 2vw;
}

.archiveBox .container_2 .concert_info .arc_concert_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2vw;
}

.archiveBox .container_2 .concert_info .concert_detail{
    text-align: left;
}

.archiveBox .container_2 .concert_info .concert_detail .arc_info_bold{
    font-weight: 500;
    font-size: 20px;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text1{
    font-size: 25px;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text1 .arc_concert_place{
    margin-bottom: 1vw;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text1 .arc_concert_date{
    margin-bottom: 1vw;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text1 .arc_concert_conductor{
    margin-bottom: 1vw;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text2{
    font-size: 25px;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text2 .concert_program .concert_program_composer{
    margin: 1vw 0 0 1vw;
    font-size: 15px;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text2 .concert_program .concert_program_song{
    margin: 1vw 0;
    font-size: 15px;
}

.archiveBox .container_2 .concert_info .concert_detail .concert_text2 .arc_concert_link{
    margin: 1vw 0;

}

hr{
    margin: 2vw 0;
    border: 1px solid #BE7743;
}




@media (max-width: 1023px) {
    #arc_notice{
        margin-top: 50px;
    }
    .archiveBox .container_2 .concert_info .concert_detail .concert_text1{
        font-size: 25px;
    }

}


@media (max-width: 767px) {
    #arc_notice{
        margin-top: 30px;
    }

    .archiveBox .container_2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }

    .arc_concert_poster{
        width: 40%;
        height: 40%;
        margin: 0 auto;
    }

    .archiveBox .container_2 .concert_info .arc_concert_title {
        font-size: 15px;
        margin: 3vw;
    }

    .concert_detail{
        align-self: center;
    }

    .archiveBox .container_2 .concert_info .concert_detail .concert_text1{
        font-size: 13px;
    }

    .archiveBox .container_2 .concert_info .concert_detail .concert_text2{
        font-size: 10px;
    }

    .archiveBox .container_2 .concert_info .concert_detail .concert_text2 .concert_program .concert_program_composer{
        margin: 1vw 0 0 1vw;
        font-size: 10px;
    }

    .archiveBox .container_2 .concert_info .concert_detail .concert_text2 .concert_program .concert_program_song{
        margin: 1vw 0;
        font-size: 10px;
    }




}

@media (max-width: 479px) {
    #arc_notice{
        margin-top: 15px;
    }



}