.nav_notice{
    background: linear-gradient(91.48deg, #EFF2FF 0%, rgba(252, 225, 225, 0.31) 100%);
}
.etc_area{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.etc_content{
    margin: 0 auto;
    margin-top: 70px;
    padding: 25px 0;
    width: 400px;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.etc_content:last-child{
    margin-bottom: 70px;
}

.etc_title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.etc_thumbnail{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
    cursor: pointer;
}
/* '준비 중' 썸네일에는 커서 초기화 */
.etc_content:last-child .game_thumbnail{
    cursor: auto;
}
.etc_content section{
    text-align:center;
    margin-bottom: 20px;
}

.etc_info{
    font-size: 1.5rem;
}

.etc_selection{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 2rem;
    cursor: pointer;
    padding: 2% 5%;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
    .etc_thumbnail{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 479px) {
    .etc_thumbnail{
        width: 200px;
        height: 200px;
    }
}