.nav_notice{
    background: linear-gradient(91.48deg, #EFF2FF 0%, rgba(252, 225, 225, 0.31) 100%);
}

.game_content{
    margin: 70px 5% 50px 5%;
    width: 90%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.game_title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.game_thumbnail{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.game_content section{
    text-align:center;
    margin-bottom: 20px;
}

.game_info{
    font-size: 1.5rem;
}

.game_selection{
    align-self:center;
    border: none;
    background-color: transparent;
    color:#BE7743;
    font-size: 2rem;
}

.game_selection:hover{
    color:#5C3A1A;
    font-weight: bold;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
    
    .game_content{
        width: 90%;
        margin-top: 100px;
        margin-bottom: 50px;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    
    .game_thumbnail{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 479px) {

    .game_content{
        margin-top:60px;
        margin-bottom:30px;
    }

    .game_thumbnail{
        width: 200px;
        height: 200px;
    }
    .game_selection{
        font-size:2.5rem;
    }

}