/* 헤더와 푸터를 위한 css
헤더와 푸터 스타일 변경하고 싶을 때 여기서 하면 됩니다. */

/* css 기본 세팅*/
/* font-size 62.5%인 이유 : font-size에 rem이라는 단위를 쓰려고 하는데, 브라우저가 지정해주는 기본 폰트 사이즈는 100% = 16px임. 그래서 62.5% = 10px로 바꿔주려고 함 */
/* 10px로 둬도 되지만, 사용자가 화면 내에서 자체적으로 폰트 사이즈를 늘린 경우(글자 확대) 대비가 안되어서 %로 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}
ul,
li {
    list-style: none;
}

a,
p,
span {
    text-decoration: none;
}

img {
    border: 0;
}
/* 마우스를 더블클릭하거나 드래그하는와중에, button 속에 text 가 선택됨. 이것을 방지 */
button {
    user-select: none;
    cursor: pointer;
    color: black;
}

header {
    width: 90%;
    /* height: 200px; */
    /* padding: 0 5%; */
    margin: 0 auto;
}

.main_head {
    position: relative;
    height: 100px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.nav {
    margin-top: 30px;
    float: right;
}

.mainlogo img {
    margin-left: 10px;
    height: 50px;
    float: left;
}

.nav>ul {
    float: left;
    height: 80px;
    line-height: 80px;
}

.nav>ul>li {
    float: left;
    font-size: 3rem;
    padding: 0 3vw 0 1.2vw;
    position: relative;
}

.nav>ul>li>a {
    color: black;
}

.nav>ul>li>a:hover {
    border-bottom: 2px solid black;
}

.small_menu {
    position: absolute;
    display: none;
    top: 50%;
    right: 5%;
    height: 100%;
    transform:translate(0,-50%);
}

.small_menu p {
    font-size: 5rem;
    color: #BE7743;
}
.small_menu p:hover{
    cursor: pointer;
}

.small_menu_open {
    display: none;
    position: fixed;
    right: 0;
    background-color: #BE7743;
    height: 100%;
    width: 50%;
    z-index: 3;
}
.small_menu_open p{
    position: fixed;
    font-size: 4rem;
    right: 10%;
    top: 10px;
    color: white;
}
.small_menu_open p:hover{
    cursor: pointer;
}
.small_menu_open nav{
    text-align: center;
    margin-top: 10vh;
}
.small_menu_open nav ul li{
    font-size: 4.5rem;
    
}
.small_menu_open nav ul li a{
    color: white;
}

header article {
    display: flex;
    justify-content: space-between;
}

.head3_line_f {
    width: 5%;
    height: 50px;
    border-bottom: 2px solid #BE7743;
}

.head3_name {
    margin-top: 25px;
    height: 60px;
    font-size: 3rem;
    font-weight: bold;
    color: #784520;
}

.head3_line_s {
    height: 50px;
    width: 65%;
    border-bottom: 2px solid #BE7743;
}

.head3_archive_a,
.head3_calendar_a,
.head3_lab_a,
.head3_test_a,
.head3_gamecenter_a,
.head3_qna_a,
.head3_tos_a,
.head3_cooperation_a {
    color: #784520;
}

header{
    /* height: 180px; */
    
}
.main_head{
    height: 80px;
    z-index: 999;
}
.mainlogo img{
    margin-top: 20px;
    height: 40px;
}
.nav>ul{
    height: 30px;
    line-height: 30px;
}
.nav>ul>li {
    float: left;
    
    padding: 0 2vw 0 2.2vw;
    position: relative;
}
.nav>ul>li>a {
    font-size: 16px;
    display: block;
    line-height: 30px;
    padding-left: 2px;
    letter-spacing: 2px;
}
/* .head3_line_f {
    height: 40px;
}

.head3_name {
    margin-top: 20px;
    height: 60px;
}

.head3_line_s {
    height: 40px;
} */

.nav_notice{
    height: 200px;
    margin-top: 5px;
    background: linear-gradient(to right, rgba(245, 207, 172, 1), rgba(255, 250, 205, 1));
}
.notice_title{
    text-align: center;
    font-size: 2.5rem;
    padding: 50px 0 25px 0;
}
.notice_title a{
    font-size: 2.5rem;
    color: black;
}
.notice_exp{
    text-align: center;
    font-size: 1.5rem;
}

footer {
    position: relative;
    background-color: #393939;
    width: 100%;
    height: 0;
    padding-top: 15%;
}

.footer_section {
    position: absolute;
    top: 50%;
    width: 100%;
    transform:translate(0,-50%);
}
.footer_area{
    position: relative;
    height: 0;
    padding-top: 15%;
}
.footer_explain {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50%;
    
    transform:translate(0,-50%);
}
.footer_explain p{
    font-size: 1.2rem;
    color: #BBBBBB;
}
.footer_explain p:nth-child(2){
    margin-top: 5px;
}
.footer_use{
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #BBBBBB;
    
}
.footer_use:hover{
    text-decoration: underline;
}
.footer_explain .footer_use{
    font-weight: bold;
}
.footer_logo {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50%;
    text-align: end;
    transform:translate(0,-50%);
}

.footer_logo img:first-child {
    width: 13%;
    float: right;
    margin-left: 10%;
}

.footer_logo img:nth-child(2) {
    width: 26%;
    float: right;
}









@media (max-width : 1023px){
    * {
        font-size: 55%;
    }
    /* header{
        height: 180px;
    }
    .main_head{
        height: 80px;
    }
    .mainlogo img{
        height: 60px;
    }
    .nav>ul{
        height: 60px;
        line-height: 60px;
    }
    .nav>ul>li {
        font-size: 3rem;
    } */
    .head3_line_f {
        height: 40px;
    }
    
    .head3_name {
        margin-top: 20px;
        height: 60px;
    }
    
    .head3_line_s {
        height: 40px;
    }
}

@media (max-width : 767px) {
    * {
        /* 8px */
        font-size: 50%;
    }
    header{
        width: 90%;
        height: 140px;
    }
    .main_head{
        height: 60px;
        border-bottom: 1px solid #BE7743;
    }
    .mainlogo img{
        margin-top: 5px;
        height: 50px;
    }
    .nav{
        margin-top: 10px;
    }
    .nav>ul{
        height: 50px;
        line-height: 50px;
    }
    .head3_line_f {
        height: 35px;
        border-bottom: 1px solid #BE7743;
    }
    
    .head3_name {
        margin-top: 10px;
        font-size: 3.5rem;
    }
    
    .head3_line_s {
        height: 35px;
        border-bottom: 1px solid #BE7743;
        width: 60%;
    }

    footer {
        padding-top: 30%;
    }
    .footer_explain {
        text-align: center;
        left: 00%;
        width: 100%;
    }
    .footer_explain p{
        font-size: 1rem;
    }
    .footer_logo {
        display: none;
    }
}

@media (max-width : 479px) {
    * {
        /* 8px */
        font-size: 45%;
    }
    header{
        height: 125px;
    }
    .main_head{
        height: 45px;
    }
    .mainlogo img{
        height: 35px;
    }
    .nav {
        display: none;
    }
    .small_menu {
        display: block;
    }
    .head3_line_f {
        height: 25px;
    }
    
    .head3_name {
        margin-top: 5px;
        font-size: 3rem;
    }
    
    .head3_line_s {
        height: 25px;
        width: 55%;
    }

    footer {
        padding-top: 40%;
    }
}