/* 헤더와 푸터를 위한 css */

/* css 기본 세팅*/
/* font-size 62.5%인 이유 : font-size에 rem이라는 단위를 쓰려고 하는데, 브라우저가 지정해주는 기본 폰트 사이즈는 100% = 16px임. 그래서 62.5% = 10px로 바꿔주려고 함 */
/* 10px로 둬도 되지만, 사용자가 화면 내에서 자체적으로 폰트 사이즈를 늘린 경우(글자 확대) 대비가 안되어서 %로 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}
html, body{
    height: 100%;
}
/* 콘텐츠의 길이가 짧을 때 푸터가 위로 올라오는 현상을 막음 */
/* 헤더를 포함한 콘텐츠 높이를 최소 100으로 두고 그 이하를 푸터 영역으로 두면 */
/* 콘텐츠가 짧아도 푸터가 하단에 고정됨 */
.total_div{
    min-height: 100%;
}
ul, li {
    list-style: none;
}

a, p, span {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

button {
    /* 마우스를 더블클릭하거나 드래그하는와중에, 
    button 속에 text 가 선택됨. 이것을 방지 */
    user-select: none;
    cursor: pointer;
    color: black;
}

header {
    width: 90%;
    margin: 0 auto;
}

.main_head {
    position: relative;
    height: 80px;
    z-index: 999;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.mainlogo img {
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
    float: left;
}

.nav {
    margin-top: 30px;
    float: right;
}

.nav>ul {
    float: left;
    height: 30px;
    line-height: 30px;
}

.nav>ul>li {
    float: left;
    padding: 0 2vw 0 2.2vw;
}

.nav>ul>li>a {
    color: black;
    font-size: 18px;
    display: block;
    line-height: 30px;
    letter-spacing: 2px;
    /* letter-spacing으로 오른쪽 부분이 2px더 늘어나게 되어 
    padding-left로 2px늘려줘서 대칭을 맞춤*/
    padding-left: 2px;
}

.nav>ul>li>a:hover {
    border-bottom: 2px solid black;
}

.nav_notice{
    background: linear-gradient(91.48deg, #FFF2E7 0%, rgba(254, 204, 190, 0.57) 100%);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
border-radius: 20px;

    height: 200px;
    margin-top: 3%;
    }

.notice_title{
    text-align: center;
    font-size: 3rem;
    padding: 50px 0 25px 0;
}
.notice_title a{
    font-size: 3rem;
    color: black;
}
.notice_exp{
    text-align: center;
    font-size: 1.5rem;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 15%;
    border-top: 1px solid rgb(203, 203, 203);
}

.footer_section {
    position: absolute;
    top: 50%;
    width: 100%;
    transform:translate(0,-50%);
}
.footer_area{
    position: relative;
    height: 0;
    padding-top: 15%;
}
.footer_explain {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50%;
    
    transform:translate(0,-50%);
}
.footer_explain p{
    font-size: 1.2rem;
    color: #000000;
}
.footer_explain p:nth-child(2){
    margin-top: 5px;
}
.footer_use{
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #000000;
    
}
.footer_use:hover{
    text-decoration: underline;
}
.footer_explain .footer_use{
    font-weight: bold;
}
.footer_logo {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50%;
    text-align: end;
    transform:translate(0,-50%);
}

.footer_logo img:first-child {
    width: 13%;
    float: right;
    margin-left: 10%;
}

.footer_logo img:nth-child(2) {
    width: 26%;
    float: right;
}

/* hamberger menu */
.ham {
    display: none;
    position: absolute;
    top: 50%; right: 0%;
    margin-right: 10px;
    transform: translate(0, -50%);
    cursor:pointer;
    z-index: 6;
    width: 30px;
    height: 25px;
}
.ham span {
    display: block;
    background: #000;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s ;
}
.ham .bar1 {margin-bottom: 6px;}
.ham .bar2 {}
.ham .bar3 {margin-top: 6px;}
  
.ham.active span {
    transition: margin 0.25s, transform 0.25s 0.25s;
}
  
.ham.active .bar1 {
    margin-top: 12px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}
.ham.active .bar2 {
    transform: rotate(45deg);
    
}
.ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
}

.small_menu_open {
    display: none;
    position: fixed;
    left: 100%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    z-index: 5;
    transition: all 0.3s linear;
}
.small_menu_open.active{
    left: 50%;
    
}
.small_menu_open nav{
    text-align: center;
    margin-top: 10vh;
}
.small_menu_open nav ul li{
    font-size: 4.5rem;
    
}
.small_menu_open nav ul li a{
    color: black;
}


@media (max-width : 1023px){
    * {
        font-size: 55%;
    }
}

@media (max-width : 767px) {
    * {
        /* 8px */
        font-size: 50%;
    }
    .nav {
        display: none;
    }

    footer {
        padding-top: 30%;
    }
    .footer_explain {
        text-align: center;
        left: 00%;
        width: 100%;
    }
    .footer_explain p{
        font-size: 1rem;
    }
    .footer_logo {
        display: none;
    }

    .ham {
        display: block;
    }
    .small_menu_open{
        display: block;
    }
}

@media (max-width : 479px) {
    * {
        /* 8px */
        font-size: 45%;
    }

    footer {
        padding-top: 40%;
    }
}