/* 헤더와 푸터를 위한 css
헤더와 푸터 스타일 변경하고 싶을 때 여기서 하면 됩니다. */

/* css 기본 세팅*/
/* font-size 62.5%인 이유 : font-size에 rem이라는 단위를 쓰려고 하는데, 브라우저가 지정해주는 기본 폰트 사이즈는 100% = 16px임. 그래서 62.5% = 10px로 바꿔주려고 함 */
/* 10px로 둬도 되지만, 사용자가 화면 내에서 자체적으로 폰트 사이즈를 늘린 경우(글자 확대) 대비가 안되어서 %로 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}
ul,
li {
    list-style: none;
}

a,
p,
span {
    text-decoration: none;
}

img {
    border: 0;
}

/* 마우스를 더블클릭하거나 드래그하는와중에, button 속에 text 가 선택됨. 이것을 방지 */
button {
    user-select: none;
    cursor: pointer;
    color: black;
}

header {
    width: 90%;
    height: 200px;
    padding: 0 5%;
}

.main_head {
    height: 100px;
    border-bottom: 2px solid #BE7743;
}

.nav {
    margin-top: 20px;
    float: right;
}

.mainlogo img {
    margin-left: 1%;
    height: 90px;
    float: left;
}

.nav>ul {
    float: left;
    height: 80px;
    line-height: 80px;
}

.nav>ul>li {
    float: left;
    font-size: 3.5rem;
    padding: 0 3vw 0 1.2vw;
    position: relative;
}

.nav>ul>li>a {
    color: #BE7743;
}

.nav>ul>li>a:hover {
    color: #784520;
    /* font-weight: bold; */
    border-bottom: 2px solid #784520;
}

.small_menu {
    display: none;
    margin-right: 1%;
    float: right;
    margin-top: 5px;
}

.small_menu p {
    font-size: 5rem;
    color: #BE7743;
}
.small_menu p:hover{
    cursor: pointer;
}

.small_menu_open {
    display: none;
    position: fixed;
    right: 0;
    background-color: #BE7743;
    height: 100%;
    width: 40%;
    z-index: 3;
}
.small_menu_open p{
    position: fixed;
    font-size: 4rem;
    right: 10px;
    top: 10px;
    color: white;
}
.small_menu_open p:hover{
    cursor: pointer;
}
.small_menu_open nav{
    text-align: center;
    margin-top: 10vh;
}
.small_menu_open nav ul li{
    font-size: 4.5rem;
    
}
.small_menu_open nav ul li a{
    color: white;
}

header article {
    display: flex;
    justify-content: space-between;
}

.head3_line_f {
    width: 8%;
    height: 50px;
    border-bottom: 2px solid #BE7743;
}

.head3_name {
    margin-top: 18px;
    height: 60px;
    font-size: 4rem;
    font-weight: bold;
    color: #784520;
}

.head3_line_s {
    height: 50px;
    width: 55%;
    border-bottom: 2px solid #BE7743;
}

.head3_archive_a,
.head3_calendar_a,
.head3_lab_a,
.head3_test_a,
.head3_gamecenter_a,
.head3_qna_a {
    color: #784520;
}


footer {
    background-color: #393939;
    height: 20%;
    width: 100%;
    min-height: 260px;
}

.footer_first {
    width: 100%;
    border-bottom: 2px solid #BBBBBB;
    height: 70px;
}

.footer_first>li {
    float: left;
    padding: 20px 0 20px 3%;
    height: 30px;
    line-height: 30px;
    font-size: 2rem;
}

.footer_first>li>a {
    color: #BBBBBB;
}

.footer_first>li>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer_second {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 40px;
    max-width: 1300px;
}

.footer_logo {
    width: 30%;
}

.footer_logo img:first-child {
    width: 35%;
}

.footer_logo img:nth-child(2) {
    width: 55%;
}

.footer_explain {
    width: 30%;
    color: #BBBBBB;
    font-size: 2rem;
    text-align: center;
}

.footer_sns {
    width: 30%;
}

.footer_sns>p {
    color: #BBBBBB;
    font-size: 2rem;
}

.footer_sns img {
    margin: 10px 5%;
    width: 15%;
    object-fit: cover;
}

.small_footer_explain {
    display: none;
}

@media (max-width : 1023px){
    * {
        font-size: 55%;
    }
    .head3_name {
        margin-top: 22px;
    }
    .head3_line_s {
        width: 53%;
    }
}

@media (max-width : 767px) {
    * {
        /* 8px */
        font-size: 50%;
    }
    header{
        height: 140px;
    }
    .head3_line_f {
        height: 35px;
        width: 5%;
        border-bottom: 1px solid #BE7743;
    }
    
    .head3_name {
        margin-top: 10px;
        font-size: 3.5rem;
    }
    
    .head3_line_s {
        height: 35px;
        width: 50vw;
        border-bottom: 1px solid #BE7743;
    }

    .main_head {
        height: 60px;
        border-bottom: 1px solid #BE7743;
    }

    .nav {
        display: none;
    }

    .small_menu {
        display: block;
    }

    .mainlogo img {
        height: 55px;
        margin-top: 0px;
    }

    footer {
        height: 310px;
    }

    .footer_second {
        height: 110px;
    }

    .footer_logo {
        width: 60%;
    }

    .footer_logo img:first-child {
        width: 16vw;
    }

    .footer_logo img:nth-child(2) {
        width: 26vw;
    }

    .footer_sns {
        width: 40%;
    }

    .footer_explain {
        display: none;
    }

    .small_footer_explain {
        display: block;
        font-size: 3rem;
        color: #BBBBBB;
        text-align: center;
    }
}

@media (max-width : 479px) {
    * {
        /* 8px */
        font-size: 45%;
    }
    .head3_name {
        margin-top: 12px;
    }
    .small_menu {
        margin-top: 8px;
    }
}