.nav_notice{

    background: linear-gradient(91.48deg, rgba(255, 224, 196, 0.44) 0%, #FFFBD9 100%);
        }
.notice_title{
    color: #d2bba5;
}

.notice_title>a{
    color:#d2bba5;
}

#history_nav{
    color:#000000;
}
.float{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    z-index: 999;
    text-align: center;
    background-color: white;
}
.float_button{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 30px;
    background: none;
    border-radius: 50px;
}
#SelectYear {
    padding: 0 15%;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
}

.Years{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor:pointer;
}

.Years:hover{    
    color:gray;
    font-weight: bold;
}

.back {
    background-color: transparent;
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 12%;
}

/*#back_logo{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 619.35px;
    height: 551.7px;
    opacity: 0.2;
    z-index:-1000;
}*/

/*.our_history{
    width: 1130px;
    position: relative;
    margin: 20px auto;
    padding: 0 30px;
    margin-top: 80px;
    margin-bottom: 100px;
    z-index:1;
}
*/

.year1 section, .year2 section, .year3 section, .year4 section, .year5 section{
    font-size: 2.8rem;
    margin: 10px 0;
    font-weight:bold;
}

.year1 p, .year2 p, .year3 p, .year4 p, .year5 p{
    margin: 30px 0 80px 20px;
    border-left: 3px solid #ccd0d3;
    padding-left: 10px;
}
.date{
    display: inline-block;
    font-size: 1.7rem;
    width: 100px;
    font-weight: bold;
    margin: 0 10px 0 20px;
    text-align: start;
}
.context{
    display: inline-block;
    font-size: 1.7rem;
    line-height: 200%;
}

@media (max-width : 1023px){       
}

@media (max-width : 767px) {
    #SelectYear {
        padding: 0 5%;
        margin-top: 30px;
    }

    .back{
        width: 90%;
        margin: 0 5%;
        text-align:Center;
    }

    .year1  section, .year2  section, .year3  section, .year4  section, .year5  section {
        font-weight:bold;
    }
    
    .year1 p, .year2 p, .year3 p, .year4 p, .year5 p{
        font-size: 1.8rem;
        border: none;
        padding-left: 0;
        margin-left: 0;
    }
    
    .year1 p span, .year2 p span, .year3 p span, .year4 p span, .year5  p spa{
        display: block;
    }
    .date{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    #year2{
        display:none;
    }

    #year4{
        display:none;
    }
}

@media (max-width : 479px) {

}