
.head3_introduce_a{
    color: #efe2de;
}
.head3_introduce, .head3_history_a{
    color: #784520;
}
.head3_name>span{
    font-size:2.7rem;
}

#SelectYear {
    padding: 0 15%;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
}

.Years{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #BE7743;
    cursor:pointer;
    z-index:1000000;
}

.Years:hover{    
    color:#5C3A1A;
    font-weight: bold;
}

.back {
    background-color: transparent;
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 12%;
}

/*#back_logo{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 619.35px;
    height: 551.7px;
    opacity: 0.2;
    z-index:-1000;
}*/

/*.our_history{
    width: 1130px;
    position: relative;
    margin: 20px auto;
    padding: 0 30px;
    margin-top: 80px;
    margin-bottom: 100px;
    z-index:1;
}
*/

.year1  section {
    font-size: 3rem;
    margin: 10px 0;
}

.year1  p{
    font-size: 1.5rem;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}

.year2  section {
    font-size: 3rem;
    margin: 10px 0;
}

.year2  p{
    font-size: 1.5rem;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}

.year3  section {
    font-size: 3rem;
    margin: 10px 0;
}

.year3  p{
    font-size: 1.5rem;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}

.year4  section {
    font-size: 3rem;
    margin: 10px 0;
}

.year4  p{
    font-size: 1.5rem;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}

.year5  section {
    font-size: 3rem;
    margin: 10px 0;
}

.year5  p{
    font-size: 1.5rem;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}

#top_btn{
    position:fixed;
    right:5%;
    bottom:50px;
    /*display:none;*/
    z-index:999;
}

#topButtonImg{
    width:50px;
}

@media (max-width : 1023px){       
}

@media (max-width : 767px) {
    #SelectYear {
        padding: 0 5%;
        margin-top: 30px;
    }

    .back{
        width: 90%;
        margin: 0 5%;
        text-align:Center;
    }

    .year1  section {
        font-weight:500;
    }
    
    .year1  p{
        font-size: 1.8rem;
    }

    .year2  section {
        font-weight:500;
    }
    
    .year2  p{
        font-size: 1.8rem;
    }    
    
    .year3  section {
        font-weight:500;
    }
    
    .year3  p{
        font-size: 1.8rem;
    }    
    
    .year4  section {
        font-weight:500;
    }
    
    .year4  p{
        font-size: 1.8rem;
    }

    .year5  section {
        font-weight:500;
    }
    
    .year5  p{
        font-size: 1.8rem;
    }
}

@media (max-width : 479px) {

