
/* 소개 */
.nav_notice{

    background: linear-gradient(91.48deg, rgba(255, 224, 196, 0.44) 0%, #FFFBD9 100%);
        }
.notice_title{
    color: #d2bba5;
}

#introduce_nav{
    color: #000000;
}

#history_nav{
    color:#d2bba5;
}


.greeting {
    width: 84%;
    padding: 0 8%;
    margin: 70px auto;
}

#introduce_welcome > p {
    font-size: 1.6rem;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 100%;
    line-height:180%;
}

#introduce_greeting > span {
    margin: 20px auto;
    font-size: 3.6rem;
    margin-top: 50px;
}

#introduce_welcome {
    margin: 30px auto;
    padding: 0 1.5%;
    display: flex;
    align-items: flex-start;
}

#introduce_welcome > img {
    width:20%;
    border-radius:70%;
}

article {
    margin-top:20px;
    font-size: 1.9rem;
    line-height:180%;
    font-weight: bold;
    z-index:2;
}

/*#square{
    width: 50vw;
    height:2vw;
    background: #F8F2ED;
    border-radius: 10px;
    z-index:1;
}*/

.professor_welcome {
    font-size: 1.6rem;
    margin-left: 50px;
    width: 100%;
    line-height:180%;
}

.professor_welcome > p{
    font-size: 1.7rem;
    width: 100%;
    line-height:180%;
    text-align:right;
}

#introduce_image > span {
    margin: 20px auto;
    font-size: 3.6rem;
    margin-top: 50px;
}
#introduce_image{
    width: 84%;
    margin: 70px auto;
    margin-top:100px;
}
.whatKuphil1 {
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.whatKuphil2 {
    display: none;
}

#path {
    width: 84%;
    margin: 70px auto;
    padding: 0 8%;
}


#path>span{
    margin: 20px auto;
    height: 50px;
    font-size: 3.6rem;
    margin-top: 50px;
}

#kuphil_room{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
#kuphil_room div{
    position: relative;
    width: 45%;
    max-width: 600px;
    padding-top: 45%;
}
#kuphil_room div img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%
}

#locations{
    display:none;
}

.location{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.location > input:first-child{
    color:#000000;
}

.location > input{
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    color: #989898;
    cursor:pointer;
    font-weight:bold;
}

.location > input:hover{    
    color:#000000;
    font-weight: bold;
}

.stairs{
    margin: 30px auto;
    font-size:1.5rem;
    text-align:center;
    line-height:25px;
}

.stairs>span{
    font-size:1.5rem;
    font-weight:bold;
}


@media (max-width : 1023px){       
    #introduce_welcome > img {
        width:25%;
    }
}
@media (max-width : 767px) {

    #introduce_greeting{
        display: flex;
        align-items:center;
        flex-direction:column;
        margin-top:30px;
    }

    #introduce_greeting > span {
        font-size: 3.5rem;
        margin:0 auto;
        margin-bottom:10px;
    }
    
    #introduce_welcome {
        display: flex;
        align-items:center;
        flex-direction:column;
    }
    
    #introduce_welcome > p {
        margin-left:0;
    }

    #introduce_welcome > img {
        width:35%;
    }

    article{
        margin-top:0;
    }
    
    .professor_welcome{
        margin-top:30px;
        margin-left:0;
    }

    #introduce_image {
        display: flex;
        align-items:center;
        flex-direction:column;
    }


    #introduce_image > span{
        font-size: 3.5rem;
    }

    
    .whatKuphil1 {
        width: 100%;
    }
    
    #path {
        margin: 20px auto;
        margin-top:80px;
        display:flex;
        flex-direction:column;
    }
    
    #path>span{
        margin: 15px auto;
        font-size:3.5rem;
    }

    .location{
        margin-top:5px;
        margin-bottom:20px;
    }

    .location > input{
        font-size: 1.5rem;
    }

    #kuphil_room {
        flex-direction:column;
        justify-content: center;
    }
    
    #kuphil_room div{
        width: 80%;
        padding-top: 80%;
    }
    
    #kuphil_room > p {
        margin-top:30px;
    }

    .stairs{
        font-size:1rem;
    }
   
    .stairs>span{
        font-size:1rem;
    }


}

/*모바일*/
@media (max-width : 479px) {
    .greeting {
        padding: 0 5%;
    }

    #introduce_greeting {
        margin-bottom:30px;
        margin-top:30px;
    }

    #introduce_greeting {
        margin-top: 20px;
    }

    #introduce_welcome{
        margin: 10px auto;
    }

    #introduce_greeting > span {
        font-size: 3rem;
    }

    #introduce_welcome > img {
        padding-bottom:0;
    }
    
    #introduce_welcome > p {
        font-size: 1rem;
    }

    #introduce_image{
        margin:10px auto;
    }

    #introduce_image > span{
        font-size:3rem;
    }
    .whatKuphil1 {
        display: none;
    }
    
    .whatKuphil2 {
        width: 80%;
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    #path>span{
        margin: 0 auto;
        font-size:3rem;
    }

    .start_location{
        margin: 20px auto;
    }

    .stairs{
        line-height:15px;
    }

    article{
        font-size:1.6rem;
    }
}