
/* 소개 */

a{
    color: black;
    text-decoration: none;
}
.head3_history_a{
    color: #efe2d6;
}
.head3_introduce, .head3_introduce_a{
    color: #784520;
}

.greeting{
    width:78.5vw;
    padding: 0 2.1vw;
    margin: 70px auto;
}

#introduce_greeting > span {
    margin: 20px auto;
    padding: 0 1.5vw;
    height: 50px;
    font-size: 3.6rem;
    margin-top: 50px;
}

#introduce_welcome {
    margin: 30px auto;
    padding: 0 1.5vw;
    display: flex;
    align-items: flex-start;
}

#introduce_welcome > img {
    width:17vw;
    width:17vw;
}

#introduce_welcome > p {
    font-size: 1.6rem;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 70vw;
    line-height:180%;
}
#introduce_welcome > p > h3{
    font-size: 1.6rem;
    margin-left: 3.84vw;
    /* background-color:#dfd3c3a2; */
    width: 70vw;
    height: 700px;
    line-height:180%;
}

#path {
    width: 78.5vw;
    margin: 30px auto;
    padding: 0 2.3vw;
    margin-bottom: 80px;
    margin-top:150px;
}


#path>span{
    margin: 20px auto;
    padding: 0 1.5vw;
    height: 50px;
    font-size: 3.6rem;
    margin-top: 50px;
}

#kuphil_room{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

#kuphil_room > img{
    width:34.7vw;
}

#kuphil_room > p {
    padding: 0 7.7vw;
    height: 50px;
    font-size: 1.7rem;
}

.start_location{
    width: 90vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.start_location > input{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #d5bca3;
    cursor:pointer;
}

.start_location > input:hover{    
    color:#5C3A1A;
    font-weight: bold;
}

#stairs{
    margin: 30px auto;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
}