
/* 소개 */

a{
    color: black;
    text-decoration: none;
}
.head3_history_a{
    color: #efe2d6;
}
.head3_introduce, .head3_introduce_a{
    color: #784520;
}
.head3_name>span{
    font-size:2.7rem;
}

.greeting {
    width: 75%;
    padding: 0 11%;
    margin: 70px auto;
}

#introduce_welcome > p {
    font-size: 1.6rem;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 100%;
    line-height:180%;
}

#introduce_greeting > span {
    margin: 20px auto;
    font-size: 3.6rem;
    margin-top: 50px;
}

#introduce_welcome {
    margin: 30px auto;
    padding: 0 1.5%;
    display: flex;
    align-items: flex-start;
}

#introduce_welcome > img {
    width:30%;
}

#introduce_welcome > p >span {
    margin-top:20px;
    font-size: 1.9rem;
    line-height:180%;
    font-weight: 550;
    z-index:2;
}

/*#square{
    width: 50vw;
    height:2vw;
    background: #F8F2ED;
    border-radius: 10px;
    z-index:1;
}*/

#introduce_welcome > p {
    font-size: 1.6rem;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 100%;
    line-height:180%;
}

#path {
    width: 75%;
    margin: 30px auto;
    padding: 0 11%;
    margin-bottom: 80px;
    margin-top:150px;
}


#path>span{
    margin: 20px auto;
    height: 50px;
    font-size: 3.6rem;
    margin-top: 50px;
}

#kuphil_room{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

#kuphil_room > img{
    width:45%;
}

#kuphil_room > p {
    padding: 0 15%;
    height: 50px;
    font-size: 1.7rem;
}

.start_location{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.start_location > input{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #d5bca3;
    cursor:pointer;
}

.start_location > input:hover{    
    color:#5C3A1A;
    font-weight: bold;
}

#stairs{
    margin: 30px auto;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
}


@media (max-width : 1023px){       

    
}
@media (max-width : 767px) {

    #introduce_greeting{
        display: flex;
        align-items:center;
        flex-direction:column;
        margin-top:20px;
    }

    #introduce_greeting > span {
        font-size: 4rem;
        margin:0 auto;
    }
    
    #introduce_welcome {
        display: flex;
        align-items:center;
        flex-direction:column;
    }
    
    #introduce_welcome > p {
        margin-left:0;
    }

    #introduce_welcome > img {
        width:40%;
        padding-bottom:30px;
    }
    
    #path {
        margin: 50px auto;
        margin-top:80px;
        display:flex;
        flex-direction:column;
    }
    
    #path>span{
        margin: 15px auto;
    }

    #kuphil_room {
        flex-direction:column;
        justify-content: center;
    }
    
    #kuphil_room > img{
        width:85%;
    }
    
    #kuphil_room > p {
        margin-top:30px;
    }


}

@media (max-width : 479px) {
    .greeting {
        padding: 0 5%;
    }

    #introduce_greeting {
        margin-top: 10px;
    }

    #introduce_welcome{
        margin: 15px auto;
    }

    #introduce_greeting > span {
        font-size: 3.5rem;
    }

    #introduce_welcome > img {
        padding-bottom:0;
    }

    #introduce_welcome > p >span {
        font-size: 1.45rem;
    }

    #introduce_welcome > p {
        font-size: 1rem;
    }

    #path>span{
        margin: 0 auto;
    }

    .start_location{
        margin: 20px auto;
    }

    #kuphil_room > img{
    }
}