/* #game_notice{
    margin: 70px auto;
    margin-bottom: 80px;
    width:1130px;
    padding:0 30px;
    font-size:15px;
    line-height:200%;
    color: #5C3A1A;
}

.test{
    margin: 30px auto;
    padding: 0 30px;
    width:1130px;
    margin-bottom:80px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.test p:first-child{
    font-size: 25px;
    margin-bottom: 20px;
}

.test section{
    width:900px;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align:center;
}

#info_1{
    font-size:15px;
}

.test img{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.game{
    margin: 30px auto;
    padding: 0 30px;
    width:1130px;
    margin-bottom:80px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.game  p:first-child{
    font-size: 25px;
    margin-bottom: 20px;
}

.game section{
    width:900px;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align:center;
}

#info_2{
    font-size:15px;
}

.game img{
    width: 300px;
    height: 300px;
}

.snake_game{
    margin: 30px auto;
    padding: 0 30px;
    width:1130px;
    margin-bottom:80px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.snake_game  p:first-child{
    font-size: 25px;
    margin-bottom: 20px;
}

.snake_game section{
    width:900px;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align:center;
}

#info_3{
    font-size:15px;
}

.snake_game img{
    width: 300px;
    height: 300px;
}

.selection{
    align-self:center;
    border: none;
    background-color: transparent;
    color:#BE7743;
    font-size: 20px;
}

.selection:hover{
    color:#5C3A1A;
    font-weight: bold;
} */
#lab_notice{
    width: 80%;
    padding: 0 5%;
    margin: 70px 5% 50px 5%;
    font-size: 2.5rem;
    color: #5C3A1A;
}

.lab_content{
    padding: 0 5%;
    width: 80%;
    margin:100px 5% 50px 5%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.lab_title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.lab_thumbnail{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.lab_content section{
    text-align:center;
    margin-bottom: 20px;
}

.lab_info{
    font-size: 1.5rem;
}

.lab_selection{
    align-self:center;
    border: none;
    background-color: transparent;
    color:#BE7743;
    font-size: 2rem;
}

.lab_selection:hover{
    color:#5C3A1A;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1023px) {
    #lab_notice{
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    #lab_notice{
        width:90%;
        margin:30px 0 50px 0;
    }

    .lab_content{
        padding: 0 5%;
        width: 90%;
        margin:100px 0 50px 0;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .lab_thumbnail{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 479px) {
    #lab_notice{
        margin-top: 10px;
    }
    .lab_thumbnail{
        width: 200px;
        height: 200px;
    }
}