.nav_notice{
background: linear-gradient(91.48deg, #E5FAFD 0%, rgba(189, 193, 236, 0.31) 100%);
}

#qna_notice{
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 80%;
    padding: 0 5%;
    font-size: 2.5rem;
    color: #5C3A1A;
}

.qna_section{
    margin: 0 auto;
    width: 80%;
    padding: 0 5%;
    margin-top: 70px;
    margin-bottom: 30px;
    min-height: 500px;
}
.qna_write{
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.qna_write button{
    float: right;
    width: 60px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 2px #784520;
}
.qna_question_add{
    display: none;
    justify-content: center;
    margin: 0 0 20px 0;
    box-shadow: 1px 1px 2px #784520;
    width: 600px;
}
.qna_question_add form{
    margin: 20px 0;
}
.qna_question_add form span{
    width: 570px;
}
.qna_question_add form strong{
    font-size: 3rem;
    color: rgb(255, 160, 66);
}
.qna_question_add_title{
    width: 570px;
    font-size: 1.5rem;
    margin-top: 20px;
    border: 1px solid black;
}
.qna_question_add_textarea{
    width: 570px;
    height: 120px;
    font-size: 1.3rem;
    margin-top: 10px;
    border: 1px solid black;
}
.qna_question_add_password{
    width: 570px;
    font-size: 1.5rem;
    margin-top: 10px;
    border: 1px solid black;
}
.qna_question_add form div{
    float: right;
}
.qna_question_add_subCan{
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
}

.qna_contents{
    width: 600px;
    margin: 0 auto;
}
.qna_entry_empty{
    display: flex;
    min-height: 100px;
    /* border-bottom: 1px solid black; */
    box-shadow: 1px 1px 2px #784520;
    margin: 0 0 10px 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.qna_entry_empty span{
    font-size: 2rem;
}
.qna_entry{
    min-height: 100px;
    /* border-bottom: 1px solid black; */
    box-shadow: 1px 1px 2px #784520;
    margin: 0 0 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qna_entry:hover{
    cursor: pointer;
    background-color: rgb(246, 246, 246);
}
/* .qna_entry:first-child{
    border-top: 2px solid black;
}
.qna_entry:last-child{
    border-bottom: 2px solid black;
} */
.qna_entry div:first-child span{
    font-size: 2rem;
}
.qna_entry div:first-child p {
    font-size: 1.5rem;
    color: gray;
    padding-top: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.qna_entry div:last-child span{
    font-size: 1.2rem;
    color: gray;
}

.qna_page{
    margin: 30px auto;
    margin-bottom: 50px;
}
.qna_page tr td{
    padding: 0 7px;
}
.qna_page tr td a{
    font-size: 1.7rem;
    color: black;
}

/* qnaRead */
.qna_nav{
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.qna_back{
    width: 60px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 2px #784520;
}
.qna_delete{
    float: right;
    width: 60px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 2px #784520;
}
.qna_read_contents{
    width: 600px;
    margin: 0 auto;
}
.qna_read_question{
    height: 200px;
    padding: 20px;
    box-shadow: 1px 1px 2px #784520;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qna_read_question div:first-child{
    margin-bottom: 20px;
}
.qna_read_question div:first-child span{
    font-size: 2rem;
}
.qna_read_question div:first-child span strong{
    font-size: 3rem;
    color: rgb(213, 106, 0);
}
.qna_read_question div:first-child p{
    font-size: 1.5rem;
    padding-top: 20px;
}
.qna_read_question div:last-child span{
    font-size: 1.2rem;
    color: gray;
}
.qna_read_question div:last-child span:last-child{
    float: right;
    color: black;
    cursor: pointer;
}

.qna_read_answer_add{
    display: none;
    justify-content: center;
    margin: 20px 0;
    box-shadow: 1px 1px 2px #784520;
    width: 600px;
}
.qna_read_answer_add form{
    margin: 20px 0;
}
.qna_read_answer_add form strong{
    font-size: 3rem;
    color: rgb(255, 160, 66);
}
.qna_read_answer_add_textarea{
    width: 570px;
    height: 120px;
    font-size: 1.5rem;
    margin-top: 10px;
    border: 1px solid black;
}
.qna_read_answer_add form div{
    float: right;
}
.qna_read_answer_add_subCan{
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
}
.qna_read_answer{
    margin-top: 20px;
}
.qna_read_entry{
    margin: 10px 0;
    min-height: 150px;
    box-shadow: 1px 1px 2px #784520;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qna_read_entry div:first-child{
    margin-bottom: 20px;
}
.qna_read_entry div:first-child strong{
    font-size: 3rem;
    color: rgb(255, 160, 66);
}
.qna_read_entry div:first-child p{
    font-size: 1.5rem;
    margin-top: 10px;
}
.qna_read_entry div:last-child span{
    font-size: 1.2rem;
    color: gray;
}

@media (max-width : 1023px) {
    #qna_notice{
        margin-top: 50px;
    }
}
@media (max-width : 767px) {
    #qna_notice{
        margin-top: 30px;
        width: 90%;
    }
    
    .qna_section{
        width: 90%;
    }
    .qna_section{
        margin-top: 30px;
        min-height: 700px;
    }
    .qna_write, .qna_question_add, .qna_contents{
        width: 100%;
    }
    .qna_question_add form{
        width: 90%;
    }
    .qna_question_add form span, .qna_question_add_title, .qna_question_add_textarea, .qna_question_add_password{
        width: 100%;
    }
    .qna_entry{
        min-height: 80px;
    }
    .qna_page tr td{
        padding: 0 6px;
    }
    .qna_page tr td a{
        font-size: 1.5rem;
    }

    .qna_nav, .qna_read_contents, .qna_read_answer_add{
        width: 100%;
    }
    .qna_read_answer_add form{
        width: 90%;
    }
    .qna_read_answer_add_textarea{
        width: 100%;
    }
    .qna_read_entry{
        min-height: 100px;
    }

}
@media (max-width : 479px) {
    #qna_notice{
        margin-top: 10px;
    }
}