.nav_notice{
background: linear-gradient(91.48deg, #E5FAFD 0%, rgba(189, 193, 236, 0.31) 100%);
}

.qna_section{
    margin: 70px auto;
    width: 90%;
    padding: 0 5%;
    min-height: 500px;
}
.float{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    z-index: 999;
    text-align: center;
    background-color: white;
}
.float_button{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 30px;
    background: none;
    border-radius: 50px;
}
.qna_write{
    width: 600px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.qna_write button{
    float: right;
    width: 60px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.qna_question_add{
    display: none;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    width: 600px;
}
.qna_question_add form{
    margin: 30px 0;
}
.qna_question_add form span{
    width: 570px;
}
.qna_question_add form strong{
    font-size: 3rem;
}
.qna_question_add_title{
    width: 540px;
    padding: 0 20px;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 30px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.qna_question_add_textarea{
    width: 540px;
    padding: 20px;
    height: 180px;
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    /* textarea의 크기 조절 기능 막기 */
    resize: none;
}
.qna_question_add_password{
    width: 540px;
    padding: 0 20px;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.qna_question_add form div{
    float: right;
}
.qna_question_add_subCan{
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.qna_contents{
    width: 600px;
    margin: 0 auto;
}
.qna_entry_empty{
    display: flex;
    min-height: 100px;
    margin: 0 0 30px 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.qna_entry_empty span{
    font-size: 2rem;
}
.qna_entry{
    min-height: 100px;
    margin: 0 0 30px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.qna_entry:hover{
    cursor: pointer;
    background-color: rgb(246, 246, 246);
}
/* .qna_entry:first-child{
    border-top: 2px solid black;
}
.qna_entry:last-child{
    border-bottom: 2px solid black;
} */
.qna_entry div:first-child span{
    font-size: 2rem;
}
.qna_entry div:first-child p {
    font-size: 1.5rem;
    color: gray;
    padding-top: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.qna_entry div:last-child span{
    font-size: 1.2rem;
    color: gray;
}

.qna_page{
    margin: 30px auto;
    margin-bottom: 50px;
}
.qna_page tr td{
    padding: 0 7px;
}
.qna_page tr td a{
    font-size: 1.7rem;
    color: black;
}

/* qnaRead */
.qna_nav{
    width: 600px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.qna_back{
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.qna_delete{
    float: right;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 2px #784520;
}
.qna_read_contents{
    width: 600px;
    margin: 0 auto;
}
.qna_read_question{
    min-height: 200px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qna_read_question div:first-child span{
    font-size: 2.2rem;
}
.qna_read_question div:first-child span strong{
    margin-right: 10px;
    font-size: 3rem;
    color: black
}
.qna_read_question div:first-child div{
    font-size: 2rem;
    padding-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.qna_read_question div:last-child span{
    font-size: 1.2rem;
    color: gray;
}
.qna_read_question div:last-child span:last-child{
    float: right;
    color: black;
    cursor: pointer;
}
.qna_read_contents form div{
    font-size: 1.5rem;
}
.qna_read_answer_add{
    display: none;
    justify-content: center;
    margin: 30px 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    width: 600px;
}
.qna_read_answer_add form{
    margin: 30px 0;
}
.qna_read_answer_add form strong{
    font-size: 3rem;
    color: black;
}
.qna_read_answer_add_textarea{
    width: 540px;
    padding: 20px;
    height: 180px;
    font-size: 1.5rem;
    margin-top: 30px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    /* textarea의 크기 조절 기능 막기 */
    resize: none;
}
.qna_read_answer_add form div{
    float: right;
}
.qna_read_answer_add_subCan{
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}
/* 게시글 삭제 시 (삭제, 취소) 버튼 중 취소 버튼 */
.qna_read_answer_add_can{
    margin-left: 10px;
}
.qna_read_answer{
    margin-top: 30px;
}
.qna_read_entry{
    margin: 30px 0;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qna_read_entry div:first-child p{
    font-size: 1.5rem;
}
.qna_read_entry div:first-child{
    margin-bottom: 20px;
}
.qna_read_entry div:first-child strong{
    font-size: 3rem;
    color: black;
}
.qna_read_entry div:first-child div{
    margin: 0 auto;
    font-size: 1.5rem;
    padding-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.qna_read_entry div:last-child span{
    font-size: 1.2rem;
    color: gray;
}

@media (max-width : 1023px) {
    #qna_notice{
        margin-top: 50px;
    }
}
@media (max-width : 767px) {
    #qna_notice{
        margin-top: 30px;
        width: 90%;
    }
    
    .qna_section{
        width: 90%;
    }
    .qna_section{
        margin-top: 30px;
        min-height: 700px;
    }
    .qna_write, .qna_question_add, .qna_contents{
        width: 100%;
    }
    .qna_question_add form{
        width: 80%;
    }
    .qna_question_add form span, .qna_question_add_title, .qna_question_add_textarea, .qna_question_add_password{
        width: 100%;
    }
    .qna_entry{
        min-height: 80px;
    }
    .qna_page tr td{
        padding: 0 6px;
    }
    .qna_page tr td a{
        font-size: 1.5rem;
    }

    .qna_nav, .qna_read_contents, .qna_read_answer_add{
        width: 100%;
    }
    .qna_read_answer_add form{
        width: 90%;
    }
    .qna_read_answer_add_textarea{
        width: 100%;
    }
    .qna_read_entry{
        min-height: 100px;
    }

}
@media (max-width : 479px) {
    #qna_notice{
        margin-top: 10px;
    }
}