/* section으로 사실상 body 영역 기본세팅 */
section {
    width: 100%;
}


/* position: relative로 인해 부모 태그가 자식 태그의 기준점이 됨 */
#main_welcome {
    width: 100%;
    overflow: hidden;
    margin-top: -90px;
    text-align: center;
    position: relative;
}

/* object-fit은 img같은 대체 콘텐츠의 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정
cover는 대체 콘텐츠의 가로세로비를 유지하면서 요소 콘텐츠 박스 가득 채움
서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나감 */
#main_welcome > img {
    width: 90%;
}

/* position: absolute로 인해 부모 태그를 기준으로 위치가 결정됨 */
/* font-family는 앞쪽이 사용하고 싶은 글꼴이고 뒤쪽은 기본 글꼴임
사용하고 싶은 글꼴을 불러오지 못하는 경우 웹 브라우저에 지정된 기본 글꼴로 대체됨 
앞쪽부터 순서대로 불러오기 때문에 여러 개 지정해둘 수도 있음 */
#main_welcome > p {
    width: 80%;
    color: #FFFFFF;
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
    position :absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 900;
    letter-spacing: 1rem;
}

.kuphil_sns {
    border-top: 2px solid #BE7743;
    background-color: #FFF4EA;
    height: 120px;
    margin-top: 5px;
}

.kuphil_sns_title {
    color:#864415;
    font-size: 3rem;
    padding: 5px 0 0 1%;
    /* font-family: 'Alegreya', serif; */
}
.show{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.show div{
    display: flex;
}
.show img{
    width: 45px;
}
.show a{
    line-height: 45px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-left: 10px;
}
.show a:hover{
    text-decoration: underline;
    color: black;
}
/* #whatsnew a {
    color: #000000;
    font-size: 32px;
} */

/* text-align 속성을 사용해서 text 위치 지정 가능
height와 line-height를 일치시키면 text가 수직 가운데 정렬됨*/
/* #d_day > div {
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
} */

.weather {
    box-sizing: border-box;
    margin: 4px 5% 0;
    width: 90%;
    height: 15%;
    border-top: solid 3px #BE7743;
    border-bottom: solid 3px #BE7743;
    display: flex;
    justify-content: center;
}

#time {
    font-size: 2rem;
}

#weather_spans > span {
    font-size: 2.5rem;
}

#weather_desc {
    font-weight: bold;
}

#left_weather, #right_weather {
    margin: 2vw 3vw;
    display: flex;
    align-items: center;
}

#weather_board {
    display: flex;
    background-color: #fffeda;
    opacity: 0.8;
    background-size: 20px 20px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}


#left_weather_board > span {
    font-size: 1.2rem;
    margin: 1vw;
}

#weather_temp {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
}

#weather_icon {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
}

/* main content부분 */

.main_content{
    width: 90%;
    padding: 0 5%;
    margin-top: 50px;
}
.main_spell{
    width: 100%;
    height: 450px;
    padding: 5% 0;
}
.main_spell_box{
    background-color: #FFF9F4;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main_spell_image{
    width: 400px;
    height: auto;
    border: 1px solid #FFF9F4;
    box-sizing: border-box;
    max-width: 580px;
    margin: -40px 10px 0 10px;
}
.main_spell_image img{
    width: 100%;
}

.main_spell_intro{
    width: 400px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_spell_intro_title{
    font-size: 4rem;
    font-weight: 900;
}
.main_spell_intro_title span{
    font-size: 5rem;
    color: #c15e17;
}
.main_spell_intro_text{
    font-size: 1.5rem;
    margin: 15px 0;
}

/* .spelling_introduce span {
    color: #FF8A00;
    font-size: 6rem;
    font-weight: bold;
}

.spell p:first-child {
    font-size: 4rem;
    font-weight: bold;
}

.spell p:last-child {
    font-size: 1.8rem;
}

.spell {
    width: 90%;
    overflow: hidden;
    margin-bottom: 60px;
    height: 550px;
}

#k > .spell_intro {
    width: 30%;
    margin: 30px 10%;
    float: left;
    position: relative;
    z-index: 2;
}

#k > .spell_intro:nth-child(2) {
    width: 30%;
    margin-left: 5vw;
    margin-right: 5vw;
}

border-radius 속성을 사용해서 여러 부채꼴을 만들 수 있음
transform: rotate()을 이용해 회전 가능
z-index는 겹쳐진 요소들 사이에서 front, back을 정하는 우선순위, 숫자가 클수록 front에 위치
right와 bottom에 -가 붙은 이유는 position: relative일 때는 각각의 방향을 기준으로
태그가 안쪽 방향으로 이동하기 때문에 -를 붙여야 바깥쪽 방향으로 이동하게 됨
#circle1 {
    position: relative;
    width: 20%;
    height: 10%;
    border-radius: 20% 20% 0 0;
    transform: rotate(90deg);
    z-index: 1;
    right: -45%;
    bottom: -10%;
    background-color: #fef6f0;
}

#u > .spell_intro {
    width: 30%;
    float: right;
    margin: 30px 5%;
    position: relative;
    z-index: 2;
}

#u > .spell_intro:nth-child(2) {
    width: 30%;
    margin-right: 10%;
}

#circle2 {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    z-index: 1;
    right: -60px;
    bottom: -20px;
    background-color: #feece1;
}

#p > .spell_intro {
    width: 30%;
    float: left;
    margin: 30px 5%;
    position: relative;
    z-index: 2;
}

#p > .spell_intro:nth-child(2) {
    width: 35%;
    margin-left: 10%;
}

#circle3 {
    position: relative;
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    z-index: 1;
    right: -55vw;
    bottom: -5vw;
    background-color: #fce5d8;
}

#h > .spell_intro {
    width: 35%;
    float: right;
    margin: 30px 5%;
    position: relative;
    z-index: 2;
}
#h > .spell_intro:nth-child(2) {
    width: 30%;
    margin-right: 10%;
}

#circle4 {
    position: relative;
    width: 20vw;
    height: 10vw;
    border-radius: 150px 150px 0 0;
    transform: rotate(-90deg);
    z-index: 1;
    right: -35vw;
    bottom: -10vw;
    background-color: #fed5bd;
}

#i > .spell_intro {
    width: 35%;
    float: left;
    margin: 30px 5%;
    position: relative;
    z-index: 2;
}

#i > .spell_intro:nth-child(2) {
    width: 30%;
    margin-left: 10%;
}

#circle5 {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    z-index: 1;
    right: -38vw;
    bottom: -2vw;
    background-color: #fdceb3;
}

#l > .spell_intro {
    width: 30%;
    float: right;
    margin: 30px 5%;
    position: relative;
    z-index: 2;
}

#l > .spell_intro:nth-child(2) {
    width: 35%;
    margin-right: 5%;
}

#circle6 {
    position: relative;
    width: 20vw;
    height: 10vw;
    border-radius: 20vw 20vw 0 0;
    z-index: 1;
    transform: rotate(90deg);
    bottom: -10vw;
    background-color: #fec8a9;
}

.spell::after {
    clear: both;
    display: block;
    content: '';
} */

/* #circle1, #circle2, #circle3, #circle4, #circle5, #circle6{
    background-color: #FBE7D4;
} */

@media (max-width : 1023px){
    #main_welcome > p{
        letter-spacing: 0.8rem;
    }

    .main_spell{
        height: 300px;
    }
    .main_spell_box{
        height: 240px;
    }
    .main_spell_image{
        width: 300px;
        margin: -30px 5px 0 5px;
    }
    .main_spell_intro{
        width: 300px;
        margin: 0 5px;
    }

    #time {
        font-size: 1.5rem;
    }

    #weather_spans > span {
        font-size: 2rem;
    }
    
    #left_weather_board > span {
        font-size: 1rem;
        margin: 1vw;
    }
    
    #weather_temp {
        font-size: 2.5rem;
    }
    
    #weather_icon {
        width: 4.5rem;
        height: 4.5rem;
    }
}
@media (max-width : 767px) {
    #main_welcome {
        margin-top: -70px;
    }
    #main_welcome > p{
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }
    /* #main_welcome > p{
        font-size: 4.5vw;
    } */
    /* .spell {
        margin-bottom: 30px;
        height: 550px;
    }
    #k > .spell_intro, #u > .spell_intro, #p > .spell_intro, 
    #h > .spell_intro, #i > .spell_intro, #l > .spell_intro {
        float:none;
        width: 60vw;
        margin: 30px 15vw;
    }
    #k > .spell_intro{
        width: 50vw;
        margin: 30px 20vw;
    }
    #k > .spell_intro:nth-child(2), #u > .spell_intro:nth-child(2), #p > .spell_intro:nth-child(2), 
    #h > .spell_intro:nth-child(2), #i > .spell_intro:nth-child(2), #l > .spell_intro:nth-child(2) {
        width: 70vw;
        margin: 0 10vw;
        
    }
    #circle1, #circle2, #circle3, #circle4, #circle5, #circle6{
        display: none;
    } */

    .main_spell{
        height: 250px;
    }
    .main_spell_box{
        height: 200px;
    }
    .main_spell_image{
        width: 250px;
    }
    .main_spell_intro{
        width: 250px;
    }

    .weather {
        border-top: solid 1px #BE7743;
        border-bottom: solid 1px #BE7743;
    }

    #time {
        font-size: 1.2rem;
    }
    
    #weather_spans > span {
        font-size: 1.7rem;
    }
    
    #left_weather_board > span {
        font-size: 0.7rem;
        margin: 0.7vw;
    }
    
    #weather_temp {
        font-size: 2.2rem;
    }
    
    #weather_icon {
        width: 4.2rem;
        height: 4.2rem;
    }
}
@media (max-width : 479px) {
    /* .spell {
        height: 400px;
    } */
    #main_welcome > p{
        font-size: 2.5rem;
    }

    .weather {
        border-top: solid 1px #BE7743;
        border-bottom: solid 1px #BE7743;
    }

    #time {
        font-size: 1rem;
    }
    
    #weather_spans > span {
        font-size: 1.5rem;
    }
    
    #left_weather_board > span {
        font-size: 1rem;
        margin: 1vw;
    }
    
    #weather_temp {
        font-size: 2rem;
    }
    
    #weather_icon {
        width: 4rem;
        height: 4rem;
    }
}