/* 메인화면의 nav는 다른 화면과 색이 다르기 때문에 따로 추가로 설정 */

/* 메인화면 슬라이드 기능 */
.main_slide{
    position: relative;
    width:90%;
    height: 0;
    margin: 3% 5%;
    padding-top: 40%;
}
.slide_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.slide_area ul{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide_area ul li{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 2s all;
}
.slide_area ul li:first-child{
    z-index: 1;
    opacity: 1;
}
.slide_main img{
    width: 100%;
}

.slide_archive{
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    height: 100%;
    background-image: url("../image/main/slide2.jpg");
    background-size: cover;
}


.slide_archive div{
    width: 50%;
    height: 100%;
    float: left;
}
.slide_archive div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slide_archive img{
    height: 60%;
}
.slide_archive div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.slide_archive div .slide_archive_title{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
.slide_archive div .slide_archive_text{
    text-align: end;
    padding: 0 20%;
}
.slide_archive div .slide_archive_text a{
    font-size: 2rem;
    color: white;
}
.slide_archive div .slide_archive_text a:hover{
    font-weight: bold;
}

.slide_recru{
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    padding-top: 80px;
    height: 100%;
    /* background-image: url("../image/main/main_archive_back.png");
    background-size: cover; */
    background-color: #e7e371;
}


section {
    width: 90%;
    margin: 0 auto;
}
.row_3rd, .row_1st, .row_2nd, .row_0{
    width: 100%;
    margin-top: 0;
}

.row_3rd::after, .row_1st::after, .row_2nd::after, .row_0::after, .row_4th::after{
    content: '';
    display: block;
    clear: both;
}
.row_4th::after{
    margin-bottom: 3%;
}

.arcade_title, .recru_title, .recent_title, .tip_title, .suggest_title, .sns_title{
    font-size: 2.3rem;
}

/* 날씨 */
.main_wea{
    float: left;
    position: relative;
    width:57%;
    height: 0;
    padding-top: 6%;
}
.main_wea_content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.wea{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
#weather_icon{
    /* position: absolute;
    left: 2%;
    top: 50%;
    transform:translate(0,-50%); */
    height: 50%;
    margin: 0 10px 0 30px;
}
.wea_detail{
    position: absolute;
    left: 10%;
    top: 50%;
    transform:translate(0,-50%);
    width: 90%;
}
#weather_temp, #weather_desc{
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 5px;
}
#weather_humidity, #weather_precipitation{
    color: rgb(49, 49, 49);
    font-size: 1.4rem;
    font-weight: 400;
}
#weather_precipitation{
    margin-left: 5px;
}
#weather_info{
    color: grey;
    margin-left: 10px;
    font-size: 1rem;
}
/* recruitment */
.main_recru{
    float: left;
    position: relative;
    width:57%;
    height: 0;
    padding-top: 30%;
    margin-top: 3%;
}
.main_recru_content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #FFFAD0;
}
.recru_explain{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 30px;
}
.recru_area{
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 50%;
    transform:translate(0%,-50%);
}
.recru_area p{
    width: 70%;
    text-align: center;
    padding: 0 15%;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 150%;
}


/* Arcade */
.main_arcade{
    float: right;
    position: relative;
    width:40%;
    height: 0;
    padding-top: 39%;
    margin-top: -6%;
}

.main_arcade_content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.arcade_explain{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 30px;
}
.arcade_area{
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 30%;
    transform:translate(0,-50%);
}
.arcade_area p{
    width: 70%;
    padding: 0 15%;
    font-size: 2rem;
}
.arcade_img{
    position: absolute;
    width: 50%;
    right: 10%;
    bottom: 10%;
}
.arcade_img img{
    width: 100%;
}

/* 최근연주회 */

.main_recent{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 50%;
    margin-top: 3%;
    float: left;
}
.main_recent_content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.recent_explain{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 30px;
}
.recent_content{
    position: absolute;
    left: 20%;
    bottom: 10%;
    width: 60%;
}
.recent_content div{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 56.3%;
}
.recent_content iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


/* 팁 */
.main_tip{
    position: relative;
    width: 60%;
    height: 0;
    padding-top: 40%;
    float: left;
    margin-top: 3%;
}
.main_tip_content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.tip_explain{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 30px;
}
.tip_contents{
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 50%;
    transform:translate(0%,-50%);
    
}
.tip_contents p{
    width: 80%;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 10%;
}

/* 제휴제안 */
.main_suggest{
    margin-top: 3%;
    position: relative;
    width: 37%;
    height: 0;
    padding-top: 27%;
    float: right;
    box-sizing: border-box;
}
.main_suggest_content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.suggest_explain{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 30px;
}

.main_suggest a{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 1.7rem;
    color: #BE7743;
}
.main_suggest .suggest_image{
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 10%;
}
.main_suggest .suggest_image img{
    width: 100%;
}

/* 컨택 */
.main_sns{
    margin-top: 3%;
    position: relative;
    width: 37%;
    height: 0;
    padding-top: 10%;
    float: right;
    box-sizing: border-box;
}
.main_sns_content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.sns_explain {
    position: absolute;
    top: 50%;
    left: 0;
    transform:translate(0%,-50%);
    /* margin: 25px 0 0 30px; */
    width: 100%;
    height: 50%;
}
/* .sns_explain p{
    float: left;
} */
.sns_contents{
    height: 100%;
    display: flex;
    justify-content: center;
}
.sns_contents a{
    margin: 0 5%;
}
.sns_contents a img{
    
    height: 100%;
}


@media (max-width : 1023px){

}
@media (max-width : 767px) {
    #weather_temp, #weather_desc{
        font-size: 1.1rem;
    }
    #weather_humidity, #weather_precipitation{
        font-size: 1rem;
    }
    
}
@media (max-width : 479px) {
}