/* section으로 사실상 body 영역 기본세팅 */
section {
    width: 90%;
    margin: 0 auto;
}


/* position: relative로 인해 부모 태그가 자식 태그의 기준점이 됨 */
#main_welcome {
    width: 100%;
    overflow: hidden;
    margin-top: -90px;
    text-align: center;
    position: relative;
}

/* object-fit은 img같은 대체 콘텐츠의 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정
cover는 대체 콘텐츠의 가로세로비를 유지하면서 요소 콘텐츠 박스 가득 채움
서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나감 */
#main_welcome > img {
    width: 100%;
}

/* position: absolute로 인해 부모 태그를 기준으로 위치가 결정됨 */
/* font-family는 앞쪽이 사용하고 싶은 글꼴이고 뒤쪽은 기본 글꼴임
사용하고 싶은 글꼴을 불러오지 못하는 경우 웹 브라우저에 지정된 기본 글꼴로 대체됨 
앞쪽부터 순서대로 불러오기 때문에 여러 개 지정해둘 수도 있음 */
#main_welcome > p {
    width: 80%;
    color: #FFFFFF;
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
    position :absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 900;
    letter-spacing: 1rem;
}

.kuphil_sns {
    border-top: 2px solid #BE7743;
    background-color: #FFF4EA;
    height: 120px;
    margin-top: 5px;
}

.kuphil_sns_title {
    color:#864415;
    font-size: 3rem;
    padding: 5px 0 0 1%;
    /* font-family: 'Alegreya', serif; */
}

/* #whatsnew a {
    color: #000000;
    font-size: 32px;
} */

/* text-align 속성을 사용해서 text 위치 지정 가능
height와 line-height를 일치시키면 text가 수직 가운데 정렬됨*/
/* #d_day > div {
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
} */

.weather {
    box-sizing: border-box;
    margin: 4px 0;
    width: 100%;
    height: 15%;
    border-top: solid 2px #BE7743;
    border-bottom: solid 2px #BE7743;
    display: flex;
    justify-content: center;
}

#time {
    font-size: 2rem;
}

#weather_spans > span {
    font-size: 2.5rem;
}

#weather_desc {
    font-weight: bold;
}

#left_weather, #right_weather {
    margin: 2vw 3vw;
    display: flex;
    align-items: center;
}

#weather_board {
    display: flex;
    background-color: #fffeda;
    opacity: 0.8;
    background-size: 20px 20px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}


#left_weather_board > span {
    font-size: 1.2rem;
    margin: 1vw;
}

#weather_temp {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
}

#weather_icon {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
}

/* main content부분 */

.main_content{
    width: 90%;
    padding: 0 5%;
    margin-top: 50px;
}
.main_spell{
    width: 100%;
    height: 450px;
    padding: 5% 0;
}
.main_spell_box{
    background-color: #FFF9F4;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main_spell_image{
    width: 400px;
    height: auto;
    border: 1px solid #FFF9F4;
    box-sizing: border-box;
    max-width: 580px;
    margin: -40px 10px 0 10px;
}
.main_spell_image img{
    width: 100%;
}

.main_spell_intro{
    width: 400px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_spell_intro_title{
    font-size: 4rem;
    font-weight: 900;
}
.main_spell_intro_title span{
    font-size: 5rem;
    color: #c15e17;
}
.main_spell_intro_text{
    font-size: 1.5rem;
    margin: 15px 0;
}


.row_1st{
    width: 100%;
}
.main_introduce{
    width: 50%;
    position: relative;
    height: 0;
    padding-top: 30%;
    background-color: #fff8f3;
    
    float: left;
}
.explain{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
}
.explain div{
    font-size: 1.5rem;
}
.explain div p{
    font-size: 3rem;
    margin-bottom: 5%;
}
.main_introduce a{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.main_introduce a div{
    width: 100%;
    font-size: 1.5rem;
    padding: 10% 30%;
    border: 2px double rgb(131, 67, 0);
    cursor: pointer;
}
.main_introduce .image{
    position: absolute;
    width: 50%;
    text-align: center;
    right: 50%;
    top: 50%;
    transform:translate(50%,-50%);
}
.main_introduce .image img{
    width: 100%;
    opacity: 15%;
}
.main_honey{
    position: relative;
    width: 50%;
    height: 0;
    padding-top: 30%;
    background-color: #fff5ec;
    float: left;
}

.row_1st::after{
    content: '';
    display: block;
    clear: both;
}

.row_2nd{
    width: 100%;
}
.main_recent{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 70%;
    background-color: #ffeee0;
    float: left;
}
.main_recent .title{
    position: absolute;
    top: 5%;
    left: 2.5%;
    font-size: 3rem;
}
.main_recent .content{
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80%;
}
.main_recent .content div{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 56.3%;
}
.main_recent .content iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.row_2nd::after{
    content: '';
    display: block;
    clear: both;
}


.row_3rd{
    width: 100%;
}
.main_next{
    position: relative;
    width:100%;
    height: 0;
    padding-top: 8%;
    background-color: #ffe7d4;
}
.main_next .next{
    position: absolute;
    width: 100%;
    left: 52.5%;
    top: 50%;
    transform:translate(-50%,-50%);
}
.main_next .next span{
    font-size: 2rem;
    height: 100%;
}
.main_next::after{
    content: '';
    display: block;
    clear: both;
}

.row_4th{
    width: 100%;
}
.main_suggest{
    position: relative;
    width: 50%;
    height: 0;
    padding-top: 20%;
    background-color: #ffcca1;
    float: left;
}
.main_suggest .suggest{
    position: absolute;
    top: 10%;
    left: 5%;
}
.main_suggest .suggest p{
    font-size: 3rem;
}
.main_suggest a{
    position: absolute;
    left: 5%;
    bottom: 10%;
}
.main_suggest a div{
    width: 100%;
    font-size: 1.5rem;
    padding: 10% 30%;
    border: 2px double rgb(131, 67, 0);
    cursor: pointer;
}
.main_suggest .suggest_image{
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform:translate(-10%,-50%);
}
.main_suggest .suggest_image img{
    width: 100%;
}
.main_sns{
    position: relative;
    width: 50%;
    height: 0;
    padding-top: 20%;
    background-color: #ffb67b;
    float: left;
}

.main_sns .sns {
    position: absolute;
    font-size: 3rem;
    top: 10%;
    left: 5%;
}
.main_sns .sns p{
    font-size: 3rem;
}
.main_sns .show{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform:translate(-50%,-50%);
}
.show a{
    width: 12%;
}
.show a img{
    width: 100%;
}
.row_4th::after{
    content: '';
    display: block;
    clear: both;
}

@media (max-width : 1023px){
    #main_welcome > p{
        letter-spacing: 0.7rem;
        font-size: 5rem;
    }

    .main_spell{
        height: 300px;
    }
    .main_spell_box{
        height: 240px;
    }
    .main_spell_image{
        width: 300px;
        margin: -30px 5px 0 5px;
    }
    .main_spell_intro{
        width: 300px;
        margin: 0 5px;
    }

    #time {
        font-size: 1.5rem;
    }

    #weather_spans > span {
        font-size: 2rem;
    }
    
    #left_weather_board > span {
        font-size: 1rem;
        margin: 1vw;
    }
    
    #weather_temp {
        font-size: 2.5rem;
    }
    
    #weather_icon {
        width: 4.5rem;
        height: 4.5rem;
    }
    .main_next .next span{
        font-size: 1.7rem;
    }
    
}
@media (max-width : 767px) {
    #main_welcome {
        margin-top: -75px;
    }
    #main_welcome > p{
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    .main_spell{
        height: 250px;
    }
    .main_spell_box{
        height: 200px;
    }
    .main_spell_image{
        width: 250px;
    }
    .main_spell_intro{
        width: 250px;
    }

    .weather {
        border-top: solid 1px #BE7743;
        border-bottom: solid 1px #BE7743;
        margin-top: 1px;
    }

    #time {
        font-size: 1.2rem;
    }
    
    #weather_spans > span {
        font-size: 1.7rem;
    }
    
    #left_weather_board > span {
        font-size: 0.7rem;
        margin: 0.7vw;
    }
    
    #weather_temp {
        font-size: 2.2rem;
    }
    
    #weather_icon {
        width: 4.2rem;
        height: 4.2rem;
    }

    .main_introduce{
        width: 100%;
        padding-top: 30%;
    }
    .explain div{
        font-size: 1rem;
    }
    .explain div p{
        font-size: 2.5rem;
    }
    .main_introduce a div{
        font-size: 1rem;
    }
    .main_introduce .image{
        width: 25%;
        right: 5%;
        top: 50%;
        transform:translate(0,-50%);
    }
    .main_introduce .image img{
        opacity: 100%;
    }

    .main_honey{
        width: 100%;
        padding-top: 30%;
    }
    .main_recent .title{
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 2.5rem;
    }
    .main_next .next span{
        font-size: 1.3rem;
    }
    .main_suggest{
        width: 100%;
        padding-top: 40%;
    }
    .main_suggest .suggest p{
        font-size: 2.5rem;
    }
    .main_suggest a div{
        font-size: 1rem;
    }
    .main_sns{
        width: 100%;
        padding-top: 40%;
    }
    .show a{
        width: 10%;
    }
}
@media (max-width : 479px) {
    /* .spell {
        height: 400px;
    } */
    #main_welcome > p{
        font-size: 2.5rem;
    }

    .weather {
        border-top: solid 1px #BE7743;
        border-bottom: solid 1px #BE7743;
    }

    #time {
        font-size: 1rem;
    }
    
    #weather_spans > span {
        font-size: 1.5rem;
    }
    
    #left_weather_board > span {
        font-size: 1rem;
        margin: 1vw;
    }
    
    #weather_temp {
        font-size: 2rem;
    }
    
    #weather_icon {
        width: 4rem;
        height: 4rem;
    }
    .main_next .next span{
        font-size: 1rem;
    }
}