.nav_notice{
    background: linear-gradient(91.48deg, #EFF2FF 0%, rgba(252, 225, 225, 0.31) 100%);
}

.gameContents{
    padding: 0 5%;
    width: 90%;
    margin: 100px auto;
}
.question {
    text-align: center;
}
.question p{
    font-size: 2.8rem;
}

.answer{
    display: flex;
    justify-content: center;
}
.firstAnswer, .secondAnswer{
    margin: 50px 2%;
}
.firstAnswer button{
    font-size: 1.5rem;
    width: 400px;
    height: 100px;
    border: none;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.secondAnswer button{
    font-size: 1.5rem;
    width: 400px;
    height: 100px;
    border: none;
    background-color: #ffffff;
    
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.firstAnswer button:hover, .secondAnswer button:hover{
    background-color: rgb(245, 245, 245);
}
.result{
    text-align: center;
}
.resultText{
    text-align: center;
    font-size: 2rem;
}
.resultName{
    font-size: 4rem;
    padding: 10px;
    color: #64391a;
    font-weight: bold;
}
.resultText p:nth-child(2), .resultText p:nth-child(3){
    font-size: 2rem;
    line-height: 3rem;
}
.resultRe{
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: white;
    font-size: 1.8rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.resultRe:hover{
    background-color: rgb(245, 245, 245);
}

@media (max-width : 1023px) {
    .firstAnswer button, .secondAnswer button{
        width: 300px;
        height: 75px;
    }
}

@media (max-width : 768px) {
    .gameContents{
        width: 90%;
        margin: 50px auto;
    }
    .answer{
        display: block;
    }
    .firstAnswer, .secondAnswer{
        margin: 0px;
    }
    .firstAnswer button{
        width: 100%;
        margin: 0;
        margin: 50px 0 0 0;
        height: 50px;
    }
    .secondAnswer button{
        width: 100%;
        margin: 0;
        margin-top: 30px;
        height: 50px;
    }
    .resultText p:nth-child(2), .resultText p:nth-child(3){
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .resultRe{
        font-size: 1.5rem;
    }
}