.game_area{
    width: 1130px;
    padding: 0 30px;
    height: 700px;
    margin: 0 auto;
    
}
.game_area > div:first-child{
    width: 540px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.game_best, .game_my{
    width: 270px;
}
.game_best{
    text-align: start;
}
.game_my{
    text-align: end;
}
.game_content table{
    margin: 0 auto;
    border: 1px solid black;
}
td{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
.game_play_tr td{
    line-height: 0px;
}
.game_content td img{
    width: 100px;
    height: 100px;
}

#game_start:hover, #game_end:hover ,#game_how:hover, #game_top:hover{
    background-color: #ffd1ae;
    cursor: pointer;
}