a{
    color: black;
    text-decoration: none;
}
.head3_board, .head3_album_a{
    color: #784520;
}
.head3_board_a{
    color: #f3e9e1;
}
.albumSection{
    width: 1130px;
    padding: 0 30px;
    margin: 80px auto;
    display: flex;
}
.sideAlbum{
    width: 200px;
    background-color: rgb(255, 240, 212);
    margin: 0 10 0 20px;
}
.centerAlbum{
    margin: 60px 0 0 30px;
    width: 800px;
    display: flex;
    justify-content: flex-start;
}
.firstAlbum{
    width: 180px;
    height: 150px;
    text-align: center;
    margin: 10px;
}
.secondAlbum, .backAlbum{
    width: 180px;
    height: 150px;
    text-align: center;
}
.firstAlbumCon{
    background-color: rgb(255, 240, 212);
    width: 120px;
    height: 110px;
    margin: 10px;
    margin: 0 auto;
}
.secondAlbumCon, .backAlbumCon{
    width: 120px;
    height: 120px;
    margin: 10px;
    margin: 0 auto;
}
.firstAlbumCon img, .secondAlbumCon img, .backAlbumCon img{
    width: 100px;
    
}
.firstAlbumTi, .secondAlbumTi, .backAlbumTi{
    display: inline-block;
    width: 120px;
    height: 20px;
    
}
.firstAlbumTi p, .secondAlbumTi p, .backAlbumTi p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.photo{
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 10px;
}
.photoCon{
    width: 170px;
    height: 170px;
    margin: 10px;
    margin: 0 auto;
}
.photoCon img{
    display: block;
  max-width:170px;
  max-height:170px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.blank{
    background-color: white;
    border: 3px solid black;
    width: 70%;
    height: 95%;
    margin: auto;
    align-items: center;
}
.blank p{
    padding: 40px 0;
}