


/* 아카이브header css */




/* 아카이브 body css */

#arc_notice{
    margin: 70px auto;
    margin-bottom: 60px;
    width:1130px;
    padding:0 30px;
    font-size:15px;
    line-height:200%;
    color: #5C3A1A;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

.posterbox_1 {
    width: 1130px;
    height: 380px;
    margin: 10px 0 ;
    display: flex;
    justify-content: center;
}
.posterbox_2 {
    width: 1130px;
    height: 380px;
    margin: 0 0 80px 0;
    display: flex;
    justify-content: center;
}

.poster_img {
    /* 포스터 사이즈가 규격에 맞지 않으면 잘려서 출력됨 */
    width: 244px;
    height: 345px;
    margin: 0 50px;
    background-color: #c4c4c4;

    transition: all 0.2s linear;

}


.thumbnail_1 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail_1:hover {
    transform: scale(1.03);

}


.thumbnail_2 {
    box-shadow: 5px 5px 5px #999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumbnail_2:hover {
    transform: scale(1.03);
}




.poster_title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
}


.loadposters {
    width: 1130px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.prev_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    transform: rotate(-135deg);
}
.prev_btn:hover {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(-135deg);
}

.next_btn {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    transform: rotate(45deg);
}

.next_btn:hover {
    cursor: pointer;
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
}

button{
    all: unset;
    background-color: #DFC7B4;
    color: white;
    padding: 5px 20px;
    border:5px;
    cursor:pointer;
}

.modal{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content{
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    top: 0px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

h1{
    text-align: center;
    margin: 0;
}
/* .hidden{
    display: none;
} */