


/* 아카이브header css */




/* 아카이브 body css */
.container {
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
}

.posterbox_1 {
    width: 1130px;
    height: 380px;
    margin: 130px 0 0 0;
    display: flex;
    justify-content: center;
}
.posterbox_2 {
    width: 1130px;
    height: 380px;
    margin: 0 0 80px 0;
    display: flex;
    justify-content: center;
}

.poster_img {
    /* 포스터 사이즈가 규격에 맞지 않으면 잘려서 출력됨 */
    width: 244px;
    height: 345px;
    margin: 0 50px;
    background-color: #c4c4c4;

}

.thumbnail_1 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail_2 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.poster_title {
    cursor: pointer;
    margin: 0 50px;
    width: 244px;
}


.page_button {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.fa fa-angle-double-right {
    font-weight: bold;
    border-radius: 20%;
    background: #DFD3C3;

}
.fa fa-angle-double-left {
    font-weight: bold;
    border-radius: 20%;
    background: #DFD3C3;

}
/* ddd */