
 a{
    color: black;
    text-decoration: none;
}

.toBoard{
    color: #BE7743;
}
.toAlbum{
    color: darkgray;
}
.board_plus{
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 120px;
}
.board_plus p{
    float: right;
    cursor: pointer;
    margin-right: 130px;
}
.board_part{
    clear: both;
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
}
.board_table{
    margin: 0 auto;
    border-collapse: collapse;/* 각 방 사이에 간격 없앰 */
}
.board_table thead tr td{
    font-size: 20px;
    height: 60px;
    background-color: #DFD3C3;
    border: 1px solid black;
}
.board_table tbody tr td{
    cursor: pointer;
    padding: 10px;
    height: 30px;
    border: 1px solid black;
}
.board_number{
    font-size: 20px;
    cursor: pointer;
    margin: 20px auto;
}
.board_number tr td{
    width: 40px;
}
/* .td_category select{
    width: 50px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    background-color: #DFD3C3;
    font-size: 20px;
    background: url("./triangle.png") no-repeat 140% 10%/30px;
}
    /*IE 10, 11의 네이티브 화살표 숨기기 ( IE에서 디자인 적용안되는 현상 해결 )
.td_category select::-ms-expand { 
    display: none;
} */


.board_read_back{
    width: 850px;
    margin: 0 auto;
    padding: 0 170px;
    margin-top: 120px;
    cursor: pointer;
}

.board_read_table td{
    padding: 10px;
    white-space: pre-line;
}
.board_read_part{
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.board_read_table{
    width: 850px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
}
.board_read_table thead tr{
    font-size: 25px;
}

.board_read_main{
    font-size: 20px;
}
.board_read_hr{
    width: 820px;
    height: 1px;
    margin: 0 auto;
    background-color: black;
}
.board_read_cont{
    vertical-align: top;
}
.board_read_footer{
    font-size: 40px;
    vertical-align: bottom;
}