#historyyyyyyy{
    position:relative;
    width: 1130px;
    margin: 0 auto;
}

#background{
    position:absolute;
    width:1130px;
}

#background > img{
    width: 1032.36px;
    height: 920px;
    opacity: 0.2;
    margin: 20px auto;
}

.kuphil_history{
    width: 1130px;
    position: relative;
    margin: 20px 0;
    padding: 0 60px;
    z-index:1;
}

.kuphil_history  p:first-child {
    font-size: 48px;
    margin: 10px 0;
}

.spell  p:last-child {
    font-size: 24px;
    margin: 80px 0;
}

a:link {color: #BE7743; text-decoration: none;}
a:visited { color: #BE7743; text-decoration: none;}
a:hover { color: #BE7743; text-decoration: underline;}