.year{
    color: #BE7743;
    border: none;
    background-color: white;
    width: 200px;
    height: 30px;
    font-size: 24px;
    margin-top: 10px;
}

#historyyyyyyy{
    position:relative;
    width: 1130px;
    margin: 0 auto;
    height: 1000px;
}

#background{
    position:absolute;
    width:1130px;
}

#background > img{
    width: 774.27px;
    height: 690px;
    opacity: 0.2;
    margin: 20px auto;
    display:flex;
    justify-self: center;
    align-self: center;
}

.kuphil_history{
    width: 1130px;
    position: relative;
    margin: 20px 0;
    padding: 0 60px;
    z-index:1;
}

.kuphil_history  p:first-child {
    font-size: 48px;
    margin: 10px 0;
    margin-top: 70px;
}

.kuphil_history  p:last-child {
    font-size: 24px;
}

a:link {color: #BE7743; text-decoration: none;}
a:visited { color: #BE7743; text-decoration: none;}

#introduce{
    color: darkgray; text-decoration: none;
}