a{
    color: black;
    text-decoration: none;
}

.toIntroduce{
    color:darkgray;
}

.toHistory{
    color:#BE7743;
}

#SelectYear {
    width: 900px;
    padding: 0 200px;
    margin: 30px auto;
    margin-top: 60px;
}

.year{
    width: 900px;
    border: none;
    background-color: transparent;
    display:flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 20px;
    color: darkgray;
}

.year:active{
    color: #BE7743;
}

.back{
    position: relative;
    width: 1130px;
    height: 1500px;
    margin: 0 auto;
}

.back_image img{
    position: absolute;
    width: 825.8px;
    height: 735.6px;
    opacity: 0.2;
    margin: 10px auto;
    top: 10%;
    left: 13%;
}


.our_history{
    width: 1130px;
    position: relative;
    margin: 20px auto;
    padding: 0 30px;
    margin-top: 100px;
    margin-bottom: 150px;
    z-index:1;
}

.history_content  p:first-child {
    font-size: 48px;
    margin: 10px 0;
}

.history_content  p:last-child {
    font-size: 24px;
    margin: 80px 0;
    margin-top: 30px;
    line-height: 200%;
}