
/* 소개 */

a{
    color: black;
    text-decoration: none;
}
.head3_history_a{
    color: #efe2d6;
}
.head3_introduce, .head3_introduce_a{
    color: #784520;
}

.greeting{
    width:1130px;
    padding: 0 30px;
    margin: 40px auto;
}

#introduce_greeting > span {
    margin: 20px auto;
    padding: 0 20px;
    height: 50px;
    font-size: 36px;
    margin-top: 50px;
}

#introduce_welcome {
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
}

#introduce_welcome > img {
    width:250px;
    height: 250px;
}

#introduce_welcome > p {
    font-size: 20px;
    margin-left: 50px;
    background-color:#dfd3c3a2;
    width: 1000px;
    height: 700px;
    line-height:180%;
}

#path {
    width: 1130px;
    margin: 30px auto;
    padding: 0 30px;
    margin-bottom: 80px;
}

#path > p {
    margin-top: 250px;
    padding: 0 20px;
    height: 50px;
    font-size: 36px;
}

#how {
    width: 1130px; 
    margin: 30px auto;
    display: flex;
    flex-direction: row;
}

#how > img {
    width: 750px;
    height: 370px;
    margin-right: 40px;
}

#how > span {
    width: 750px;
    align-self: center;
    font-size: 15px;
    padding: 0 20px;
    line-height:200%;
}