
/* 소개 */

a{
    color: black;
    text-decoration: none;
}
.head3_history_a{
    color: #efe2d6;
}
.head3_introduce, .head3_introduce_a{
    color: #784520;
}

.greeting{
    width:1130px;
    padding: 0 30px;
    margin: 70px auto;
}

#introduce_greeting > span {
    margin: 20px auto;
    padding: 0 20px;
    height: 50px;
    font-size: 36px;
    margin-top: 50px;
}

#introduce_welcome {
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
}

#introduce_welcome > img {
    width:250px;
    height: 250px;
}

#introduce_welcome > p {
    font-size: 16px;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 1000px;
    height: 700px;
    line-height:180%;
}
#introduce_welcome > p > h3{
    font-size: 16px;
    margin-left: 50px;
    /* background-color:#dfd3c3a2; */
    width: 1000px;
    height: 700px;
    line-height:180%;
}

#path {
    width: 1130px;
    margin: 30px auto;
    padding: 0 30px;
    margin-bottom: 80px;
    margin-top:150px;
}


#path>span{
    margin: 20px auto;
    padding: 0 20px;
    height: 50px;
    font-size: 36px;
    margin-top: 50px;
}

#kuphil_room{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

#kuphil_room > img{
    width:500px;
    
}

#kuphil_room > p {
    padding: 0 100px;
    height: 50px;
    font-size: 17px;
}

#start_location{
    width: 1300px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.select_button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #d5bca3;
    cursor:pointer;
}

.select_button:hover{    
    color:#5C3A1A;
    font-weight: bold;
}

#stairs{
    margin: 30px auto;
    font-size:15px;
    font-weight:bold;
    text-align:center;
}