/* section으로 사실상 body 영역 기본세팅 */
section {
    width: 90vw;
    padding: 0 5vw;
}


/* position: relative로 인해 부모 태그가 자식 태그의 기준점이 됨 */
#main_welcome {
    width: 90vw;
    overflow: hidden;
    margin-top: -90px;
    text-align: center;
    position: relative;
}

/* object-fit은 img같은 대체 콘텐츠의 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정
cover는 대체 콘텐츠의 가로세로비를 유지하면서 요소 콘텐츠 박스 가득 채움
서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나감 */
#main_welcome img {
    width: 90vw;
}

/* position: absolute로 인해 부모 태그를 기준으로 위치가 결정됨 */
/* font-family는 앞쪽이 사용하고 싶은 글꼴이고 뒤쪽은 기본 글꼴임
사용하고 싶은 글꼴을 불러오지 못하는 경우 웹 브라우저에 지정된 기본 글꼴로 대체됨 
앞쪽부터 순서대로 불러오기 때문에 여러 개 지정해둘 수도 있음 */
#main_welcome > p {
    width: 80vw;
    color: #FFFFFF;
    font-size: 10rem;
    font-family: 'Reenie Beanie', cursive;
    position :absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.kuphil_sns {
    border-top: 2px solid #BE7743;
    background-color: #FFF4EA;
    height: 120px;
    margin-top: 5px;
}

.kuphil_sns_title {
    color:#864415;
    font-size: 3rem;
    padding: 5px 0 0 1vw;
    /* font-family: 'Alegreya', serif; */
}
.show{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.show div{
    display: flex;
}
.show img{
    width: 45px;
}
.show a{
    line-height: 45px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-left: 10px;
}
.show a:hover{
    text-decoration: underline;
    color: black;
}
/* #whatsnew a {
    color: #000000;
    font-size: 32px;
} */

/* text-align 속성을 사용해서 text 위치 지정 가능
height와 line-height를 일치시키면 text가 수직 가운데 정렬됨*/
/* #d_day > div {
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
} */
.spelling_introduce span {
    color: #FF8A00;
    font-size: 6rem;
    /* font-family: 'Alegreya', serif; */
    font-weight: bold;
}

.spell p:first-child {
    font-size: 4rem;
    /* font-family: 'Alegreya', serif; */
    font-weight: bold;
}

.spell p:last-child {
    font-size: 1.8rem;
    /* font-family: 'Basic', sans-serif; */
}

.spell {
    width: 90vw;
    overflow: hidden;
    margin-bottom: 60px;
    height: 400px;
}

#k > .spell_intro {
    width: 30vw;
    margin: 30px 10vw;
    float: left;
    position: relative;
    z-index: 2;
}

#k > .spell_intro:nth-child(2) {
    width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* border-radius 속성을 사용해서 여러 부채꼴을 만들 수 있음
transform: rotate()을 이용해 회전 가능
z-index는 겹쳐진 요소들 사이에서 front, back을 정하는 우선순위, 숫자가 클수록 front에 위치
right와 bottom에 -가 붙은 이유는 position: relative일 때는 각각의 방향을 기준으로
태그가 안쪽 방향으로 이동하기 때문에 -를 붙여야 바깥쪽 방향으로 이동하게 됨 */
#circle1 {
    position: relative;
    width: 20vw;
    height: 10vw;
    border-radius: 20vw 20vw 0 0;
    transform: rotate(90deg);
    z-index: 1;
    right: -45vw;
    bottom: -10vw;
    background-color: #fef6f0;
}

#u > .spell_intro {
    width: 30vw;
    float: right;
    margin: 30px 5vw;
    position: relative;
    z-index: 2;
}

#u > .spell_intro:nth-child(2) {
    width: 30vw;
    margin-right: 10vw;
}

#circle2 {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    z-index: 1;
    right: -60px;
    bottom: -20px;
    background-color: #feece1;
}

#p > .spell_intro {
    width: 30vw;
    float: left;
    margin: 30px 5vw;
    position: relative;
    z-index: 2;
}

#p > .spell_intro:nth-child(2) {
    width: 35vw;
    margin-left: 10vw;
}

#circle3 {
    position: relative;
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    z-index: 1;
    right: -55vw;
    bottom: -5vw;
    background-color: #fce5d8;
}

#h > .spell_intro {
    width: 35vw;
    float: right;
    margin: 30px 5vw;
    position: relative;
    z-index: 2;
}
#h > .spell_intro:nth-child(2) {
    width: 30vw;
    margin-right: 10vw;
}

#circle4 {
    position: relative;
    width: 20vw;
    height: 10vw;
    border-radius: 150px 150px 0 0;
    transform: rotate(-90deg);
    z-index: 1;
    right: -35vw;
    bottom: -10vw;
    background-color: #fed5bd;
}

#i > .spell_intro {
    width: 35vw;
    float: left;
    margin: 30px 5vw;
    position: relative;
    z-index: 2;
}

#i > .spell_intro:nth-child(2) {
    width: 30vw;
    margin-left: 10vw;
}

#circle5 {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    z-index: 1;
    right: -38vw;
    bottom: -2vw;
    background-color: #fdceb3;
}

#l > .spell_intro {
    width: 30vw;
    float: right;
    margin: 30px 5vw;
    position: relative;
    z-index: 2;
}

#l > .spell_intro:nth-child(2) {
    width: 35vw;
    margin-right: 5vw;
}

#circle6 {
    position: relative;
    width: 20vw;
    height: 10vw;
    border-radius: 20vw 20vw 0 0;
    z-index: 1;
    transform: rotate(90deg);
    bottom: -10vw;
    background-color: #fec8a9;
}

.spell::after {
    clear: both;
    display: block;
    content: '';
}

/* #circle1, #circle2, #circle3, #circle4, #circle5, #circle6{
    background-color: #FBE7D4;
} */

@media (max-width : 768px) {
    #main_welcome {
        margin-top: -130px;
    }
    #main_welcome > p{
        font-size: 5rem;
    }
    .spell {
        margin-bottom: 30px;
        height: 550px;
    }
    #k > .spell_intro, #u > .spell_intro, #p > .spell_intro, 
    #h > .spell_intro, #i > .spell_intro, #l > .spell_intro {
        float:none;
        width: 60vw;
        margin: 30px 15vw;
    }
    #k > .spell_intro{
        width: 50vw;
        margin: 30px 20vw;
    }
    #k > .spell_intro:nth-child(2), #u > .spell_intro:nth-child(2), #p > .spell_intro:nth-child(2), 
    #h > .spell_intro:nth-child(2), #i > .spell_intro:nth-child(2), #l > .spell_intro:nth-child(2) {
        width: 70vw;
        margin: 0 10vw;
        
    }
    #circle1, #circle2, #circle3, #circle4, #circle5, #circle6{
        display: none;
    }
}