.gameContents{
    padding: 0 30px;
    width: 1130px;
    margin: 0 auto;
    margin-top: 120px;
}

.question{
    font-size: 30px;
    text-align: center;
}

.answer{
    display: flex;
    justify-content: center;
}
.firstAnswer button{font-size: 25px;
    width: 400px;
    height: 100px;
    margin: 100px 50px 150px 50px;
    border: 2px solid blue;
    background-color: #EFEFFB;
}
.secondAnswer button{
    font-size: 25px;
    width: 400px;
    height: 100px;
    margin: 100px 50px 150px 50px;
    border: 2px solid red;
    background-color: #FBEFEF;
}
.result{
    text-align: center;
}
.resultText{
    text-align: center;
    font-size: 20px;
    margin: 30px 0 10px 0;
    line-height: 40px;
}
.resultImg{
    margin-bottom: 50px;
}

.resultName{
    font-size: 40px;
    color: brown;
}