<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/headfoot.css">
    <link rel="stylesheet" type="text/css" href="./css/worldcup.css">
    <!--Google Web Font를 이용하기 위한 link들 삽입-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>KUPHIL</title>
</head>

<body>
    <div class="total_div">
        <header>
            <div class="main_head">
                <div class="mainlogo">
                    <a href="./"><img src="./image/main/page_logo_black.png" alt="KUPHIL 흰색로고"></a>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a href="./introduce">소개</a></li>
                        <li><a href="./archive">아카이브</a></li>
                        <li><a href="./qna">Q&A</a></li>
                        <li><a href="./gamecenter">놀이터</a></li>
                        <li><a href="./lab">실험실</a></li>
                    </ul>
                </nav>
                <div class="ham">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </div>

                <div class="small_menu_open">
                    <nav>
                        <ul>
                            <li><a href="./introduce">소개</a></li>
                            <li><a href="./archive">아카이브</a></li>
                            <li><a href="./qna">Q&A</a></li>
                            <li><a href="./gamecenter">놀이터</a></li>
                            <li><a href="./lab">실험실</a></li>
                        </ul>
                    </nav>
                </div>
                <script>
                    $(".ham").click(function () {
                        $(this).toggleClass("active");
                        $(".small_menu_open").toggleClass("active");
                    });
                </script>
            </div>
            <div class="nav_notice">
                <p class="notice_title">
                    <a href="./worldcup">내 최애 작곡가?!</a>
                </p>
                <p class="notice_exp">
                    생각만 해도 두근두근!<br>
                    신중하게 최애 작곡가를 골라봐요!
                </p>
            </div>
        </header>
        <script>
            let composer = JSON.parse('<%- JSON.stringify(composer) %>');
        </script>
        <div class="worldcup_area">
            <div class="worldcup_explain">
                <p>작곡가 이상형 월드컵 입니다!</p>
                <span style="font-size: 1.5rem; color: red;">(* 퍼블릭 도메인으로 지정된 이미지만 사용했습니다.)</span>
                <div class="worldcup_button">
                    <button class="btn" onclick="start_eight();">8강</button>
                    <button class="btn" onclick="start_sixteen();">16강</button>
                    <button class="btn" onclick="start_thirtytwo();">32강</button>
                    <button class="btn" onclick="start_sixtyfour();">64강</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_section">
            <div class="footer_area">
                <div class="footer_logo">
                    <img src="./image/main/logo.png">
                    <img src="./image/main/무제.png">
                </div>
                <div class="footer_explain">
                    <a class="footer_use" href="./policy">이용 약관</a>
                    <p>서울특별시 광진구 능동로 120, 제2학생회관 B117호</p>
                    <p>© KUPHIL. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="./js/worldcup.js" type="text/javascript"></script>

</html>